// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(.video320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif
html
	font-size: 62.5%
	+rm(2000)
		font-size: 82%
	&.is-fixed-navigation
		.out
			margin-top: 4.5rem 
			+r(767)
				margin-top: 0
		.navigation-wrap
			position: fixed
			left: 0
			right: 0
			top: 0
			z-index: 9
	&.is-open-popup
		overflow: hidden
		body
			overflow: hidden
body
	+tahoma
	font-size: 1.3rem
	line-height: 1.8
	color: $text
	+r($xs)
		font-size: 1.1rem
		line-height: 1.5 
	&.is-open-menu
		.main,
		.footer
			transform: translateX(32rem)
			+r(380)
				transform: translateX(26.7rem)
		.menu-mob
			transform: translateX(0)
a
	&:hover
		color: inherit
	&:active
		color: inherit
	&:focus
		color: inherit 
sub
	display: inline-block
	vertical-align: top
	color: $hot
.out
	overflow: hidden
	position: relative
.main
	transition: transform .3s
.container-fluid
	max-width: 120rem	
	position: relative
.row
	position: relative
	margin: 0 -1rem 
.text-center
	text-align: center
.text-left
	text-align: left
.text-right
	text-align: right
.flex-xs
	+r(767)
		display: flex
		flex-direction: column
		> .order-1
			order: 1
		> .order-2
			order: 2
.btns-wrap
	margin: 2rem 0 0 
	text-align: center
	font-size: 0
	.btn
		padding: 1.3rem 1.5rem 1.1rem
		font-size: 1.3rem 
		margin-right: 1rem
	.btn-action
		margin: 0
		padding: 1.2rem 1.5rem 1rem
		font-size: 1.3rem 
.xxs-12
	+r(321)
		width: 100%
// [class*="col-sm"],
// [class*="col-xs"]
// 	padding: 0 .5rem
// 	+rm($sm)
// 		padding: 0 1rem 
// [class*="col-lg"],
// [class*="col-md"]
// 	padding: 0 1rem
// 	+r($sm)
// 		padding: 0 .5rem 

// common blocks
.hover-page
	width: 1200px
	margin: 50px auto 
.wrap-center
	text-align: center
.wrap-right
	text-align: right
.clr
	+clr
button
	vertical-align: middle
.btn
	background: $btn
	color: #fff
	display: inline-block
	padding: 1.3rem 4rem 1.1rem
	line-height: 1
	+reg
	text-transform: uppercase   
	transition: background-color .3s, border-color .3s, color .3s
	&:hover
		background: $btn-hover
	&:active
		background: darken($btn, 7%) 
	&_secondary
		border: 1px solid $btn
		background: transparent 
		&:hover
			border-color: #fff
			background: transparent 
		&:active
			border-color: $btn
			color: $btn
			background: transparent
	&_reset
		border: 1px solid $btn
		background: transparent
		color: #41444a 
		&:hover
			background: $btn-hover
			border-color: $btn-hover
			color: #fff
		&:active
			background: darken($btn, 7%) 
			color: #fff
	&_default
		&:hover
			background: #fff
			color: $block-dark
		&:active	
			color: #fff
			background: $btn  
	&_send
		background: transparent
		border: 1px solid #fff
		padding: 1.5rem 3rem 1.4rem 
		color: #fff
		font-size: 1.6rem
		line-height: 1
		+r($xs)
			padding: 1rem 1.7rem .9rem 
			font-size: 1.2rem
		&:hover
			background: #fff
			color: $block-dark
		&:active
			background: transparent
			color: #fff 
	&_collapse
		width: 100%
		display: block
		text-align: left
		margin-top: 3rem
		padding: 2.7rem 2rem 1.9rem
		+r($xs)
			width: calc(100% + 2rem)
			margin: 3rem -1rem 0
			padding: 2.3rem 1rem 1.5rem 
		i
			+rotate(90)
			+icon
			color: #fff
			display: inline-block
			vertical-align: middle
			font-size: 1.1rem
			margin-right: 1rem
			transition: transform .3s
		span
			display: inline-block
			vertical-align: middle
			+bold
			color: #fff
			font-size: 2rem 
		&.is-active
			i
				+rotate(-90)
	&_table-collapse
		margin-top: 0
		border-bottom: 1px solid #fff 
		padding: 1.8rem 2rem 1.6rem 
		background: $block-dark
		+r($xs)
			width: 100%
			margin: 0
		&:hover
			background: $block-dark
			&:hover
				background: darken($block-dark, 5%)
		&.collapsed
			background: $block 
			&:hover
				background: darken($block, 5%)
		span
			font-size: 1.6rem 
			+r($sm)
				font-size: 1.3rem
.btn-action
	background: transparent
	display: inline-block
	border: 1px solid $btn
	padding: .9rem 1.6rem .9rem 1.8rem
	transition: background, color, border, .3s
	color: #41444a
	text-transform: uppercase 
	margin-top: 2.5rem
	line-height: 1
	+reg
	font-size: 1.3rem
	+r($sm)
		padding: .9rem 1.9rem
		font-size: 1.1rem 
		margin-top: 1rem 
	span
		color: $btn
		display: inline-block
		margin-left: 3.2rem 
		font-size: 1.7rem
		font-family: Arial  
		+tr(color .3s) 
		+r($sm)
			font-size: 1.1rem
			margin-left: .5rem

	&:hover
		background: $btn 
		color: #fff 
		span
			color: #fff
	&:active
		background: darken($btn, 7%) 
		border-color: darken($btn, 7%)
		color: #fff 
		span
			color: #fff
	&_hot
		background: $hot
		color: #fff
		border: none
		margin-top: 0
		span
			color: #fff 
		&:hover
			background: $hot-hover
		&:active
			background: lighten($hot-hover, 5%)
	&_secondary
		border: none
		background: #fff
		color: $btn
	&_ondark
		color: #fff
		span
			margin-left: 2rem
			font-family: Arial  
			+r($sm)
				font-size: 1.1rem
				margin-left: .5rem
	&_more
		color: #fff 
		background: $btn 
		span
			color: #fff
		&:hover
			background: darken($btn, 7%) 
		&:active
			background: darken($btn, 10%)
		&:focus
			color: #fff 
	&.is-short
		span
			margin-left: 1.2rem 
		

.btn-download
	display: inline-block
	height: 4.5rem
	line-height: 4.5rem
	padding: 0 4.2rem
	+reg
	color: $white
	background: $btn-dark
	text-align: center
	+tr(background-color .3s) 
	&:hover
		background: $btn
	&:active
		background: darken($btn, 7%) 
	&_big
		display: block
		padding: 2.2rem 1rem
		text-transform: uppercase 
		width: 100%
		font-size: 1.6rem
		height: auto
		background: $btn 
		line-height: 1 
		+light
		+r($xs)
			margin: 0 -1rem
			width: calc(100% + 2rem)  
		&:hover
			background: darken($btn, 5%)
			color: #fff 
		&:active
			background: darken($btn, 10%)
.btn-nav
	display: inline-block
	background: $btn 
	height: 3.7rem
	width: 3.7rem
	line-height: 3.7rem
	+tr(background-color .3s)
	color: #fff 
	font-size: 0
	margin: 0 .9rem 
	position: relative
	&:before
		content: $icon-arr
		position: absolute
		+icon
		color: #fff 
		font-size: 1.1rem 
		top: 50%
		left: 50%
		margin-top: -.55rem 
		margin-left: -0.3rem
		+tr(color .3s)
	&_down
		border: 1px solid $arr
		&:before
			transform: translate3d(0,.2rem,0) rotate(90deg)
	&.is-prev
		&:before
			transform: rotate(180deg)
	&:hover
		background: $btn-nav
	&:active
		background: lighten($btn-nav, 7%) 
	&_secondary
		background: #fff
		margin: 0 .7rem 
		&:before
			color: $arr
		&:hover
			background: #fff 
			&:before
				color: $btn 
		&:active
			background: #fff
			&:before
				color: $arr 
	&_light
		background: $footer
		margin: 0 .7rem 
		&:before
			color: $arr
		&:hover
			background: darken($footer, 5%) 
			&:before
				color: $btn 
		&:active
			background: darken($footer, 10%) 
			&:before
				color: $arr 
.btn-circle
	display: block
	position: relative
	z-index: 2
	width: 3rem
	height: 3rem
	font-size: 0
	background: $hot
	border-radius: 50% 
	+tr(background .3s)
	+tahoma
	&:hover
		background: darken($hot, 10%)
	&.is-active
		background: $btn
		cursor: default
		.tooltip
			opacity: 1
			visibility: visible
	&_tooltip
		.btn-circle__in
			+tr(transform .2s)
		&.is-active
			cursor: pointer
			.btn-circle__in
				transform: rotate(45deg)
	&__in
		position: relative
		z-index: 2
		display: inline-block
		vertical-align: middle
		width: 0.8rem
		height: 0.2rem
		background: #fff
		&:before
			content: ""
			position: absolute
			left: 50%
			top: 50%
			width: 0.2rem
			height: 0.8rem
			transform: translate3d(-50%,-50%,0)
			background: #fff 
.tooltip
	opacity: 0
	visibility: hidden
	position: absolute
	z-index: 1
	right: 1.4rem
	top: 1.2rem
	padding: 2rem 
	width: 24rem
	background: $btn 
	font-size: 1.2rem
	line-height: 1.5
	color: #fff
	text-align: left
	+tr(opacity .3s)
	&__title
		display: block
		font-size: 1.6rem
		+light
		text-transform: uppercase
.slick-elements
	background: $block
	padding: 2rem 
	margin: 2rem 0 
.slick-dots
	display: inline-block
	font-size: 0
	margin: 0 4.4rem 
	vertical-align: middle
	li
		display: inline-block
		vertical-align: middle
		padding: 0 .4rem
		&:hover
			button
				background: #7281a1
		&:active
			button
				background: darken(#7281a1, 7%) 
		&.slick-active
			button
				background: $btn 
			&:hover
				button
					cursor: default 
					background: $btn !important
			&:active
				button
					cursor: default 
					background: $btn 
	button
		height: 1rem
		width: 1rem  
		border-radius: 50%
		background: #fff
		transition: background-color .3s

.slick-prev,
.slick-next
	display: inline-block
	vertical-align: middle
	width: 3.7rem
	height: 3.7rem
	background: #fff
	position: relative
	transition: background-color .3s
	+hidetext
	position: absolute
	z-index: 100
	bottom: 0
	right: 0
	&:before
		content: $icon-arr
		+icon
		position: absolute
		font-size: 1.1rem
		color: $arr
		transition: color .3s 
		left: 50%
		top: 50%
		margin-left: -.3rem 
		margin-top: -0.55rem 
	&:hover
		background: $btn 
		&:before
			color: #fff
	&:active
		background: darken($btn,7%)
		&:before
			color: #fff 
.slick-prev
	left: 0
	right: auto
	&:before
		transform: rotate(180deg)

.block
	position: relative
	padding: 4.5rem 0 5rem
	+r($sm)
		padding: 2rem 0 2.5rem 
	&_dark
		background: $block-dark
		overflow: hidden
		+r($sm)
			padding: 2rem 0 2.5rem 
	&_black
		background: $btn-dark
		overflow: hidden
		color: #fff 
		+r($sm)
			padding: 2rem 0 2.5rem
	&_secondary
		overflow: hidden
		background: $btn
		min-height: 47.4rem
		position: relative
		+r($sm)
			min-height: auto 
		.block_part
			padding: 4.5rem 0
		.poster	
			overflow: hidden
			img
				display: block
				height: 100%
				width: auto
				+rm(1600)
					position: absolute
					top: 50%
					transform: translate3d(0,-50%,0)
					height: auto
					width: 100%
			+r($sm)
				display: none
	&_light
		background: $block-light 
		+r($xs)
			padding: 2.5rem 0 .5rem 
		&.with-dif-pad
			padding: 4.5rem 0 5rem
			+r($xs)
				padding: 2.3rem 0 1.8rem 
		&.with-border
			border-top: 1px solid #fff
			padding: 4.5rem 0 5rem
			+r($xs)
				padding: 0 0 1.2rem
				border: none 
	&_section
		border-top: 1px solid $footer 

	&_no-pad
		padding: 0 
	&_index
		min-height: 5.4rem
		padding-right: 4rem
		z-index: 2 
		+r($md)
			min-height: 50rem
		+r($sm)
			min-height: 44rem 
		+r($xs)
			padding-right: 0
			min-height: 29.5rem
	&_border
		border-top: 1px solid $footer
		padding-bottom: 0
		padding-top: 2.5rem  
	&_different
		padding: 0
		+r($xs)
			margin-top: 2.2rem
		.block
			min-height: 45.2rem 
			padding-left: 2rem 
			+r($md)
				min-height: 35.2rem 
			+r($xs)
				min-height: auto 
				padding-left: 0
		.name
			color: #fff
			&.with-mb
				+r($sm)
					margin-bottom: 1.8rem  
		.poster
			left: 0
			right: 50%
			overflow: hidden
			+r($xs)
				position: static
				display: block
				height: 20.5rem
			img
				+r($sm)
					height: 100%
					width: auto
				+r($xs)
					height: auto
					width: 100%
	&_inner
		padding: 3rem 0 
		position: relative
		+r($xs)
			padding: 2rem 0 2.5rem 
	&_visible
		overflow: visible
	&_warranty
		background: #3e4453 
.btn-app
	display: inline-block
	vertical-align: middle
	background: transparent 
	text-align: center
	padding: 0 1rem
	height: 4.3rem
	line-height: 4.3rem	
	border: 1px solid #231f20
	transition: background-color .3s, opacity .3s
	margin-top: 1.3rem
	+r($xs)
		display: block
		width: 100%
		padding: 0 .5rem 
	&:hover
		background: #231f20
		i,
		span
			color: #fff
	&:active	
		opacity: .8 
		background: #231f20
		i,
		span
			color: #fff
			 
	i,
	span
		display: inline-block
		vertical-align: middle
		transition: color .3s 
	span
		margin-left: 1.2rem 
		+reg
		color: $title
		+r($xs)
			margin-left: 0.5rem
	i
		+icon
		font-size: 2rem
	&.is-android
		border-color: #9cba30
		i
			color: #9cba30 
		&:hover
			background: #9cba30
			i
				color: #fff 
		&:active
			background: #9cba30
			opacity: 0.8
			i
				color: #fff

  	 
.title
	+med
	text-transform: uppercase 
	color: $title
	font-size: 3rem 
	margin-bottom: 2.5rem 
	line-height: 1
	+r($sm)
		font-size: 2.5rem
		margin-bottom: 1rem 
	+r($xxs)
		font-size: 2rem
	&_secondary
		color: #fff 
	&_page
		font-size: 3.5rem
		color: #fff  
		position: absolute
		z-index: 2
		bottom: 0
		+r($sm)
			font-size: 3rem
			margin-bottom: 2.5rem
		+r($xxs)
			font-size: 2.5rem
	&_hot
		font-size: 3.5rem
		color: $hot 
		+r($sm)
			font-size: 2.5rem
	&_mt
		margin-top: 4.5rem 
	&_marked
		width: 100%
		background: $block-dark
		padding: 1.8rem 2rem 1.6rem
		+bold
		font-size: 1.8rem
		color: #fff
		text-transform: uppercase 
		+r($sm)
			font-size: 1.6rem
			padding: 1.6rem 2rem 1.4rem
		+r($xxs)
			font-size: 1.4rem
			padding: 1.4rem 1.5rem 1.2rem 
.subtitle
	margin: 1.7rem 0 2rem 
	font-size: 2.4rem
	text-transform: uppercase
	+light 
	line-height: 1.5
	+r($xs)
		font-size: 2rem
		line-height: 1.2
	&_small
		font-size: 1.6rem
	&_big
		font-size: 2rem
	&_large
		font-size: 3.5rem
		+r($xs)
			font-size: 2.5rem
	&_primary
		color: $btn 
.input-sub
	margin-top: -1rem
	display: inline-block
	vertical-align: bottom
	width: 100%
	margin-top: 1.4rem 
	+r($xs)
		// width: 100%
		// display: block
		margin-top: 1rem 
		margin-bottom: 1.4rem
	input
		width: 100%
		padding-bottom: .6rem
		border-bottom: 1px solid #fff
		background: transparent 
		color: #fff
		vertical-align: bottom 
		+reg 
		font-size: 1.5rem
		font-style: italic 
		+placeholder
			color: #fff 
.wrap-btnsend
	.btn
		margin-top: 0
	+r($md)
		text-align: right
	+r($xs)
		text-align: left
		margin-top: 1rem
.popup
	position: fixed
	top: 8rem 
	bottom: 8rem
	right: 8rem
	left: 8rem
	z-index: 20
	opacity: 0
	visibility: hidden
	+tr(opacity .3s)
	+r(1200)
		top: 3rem
		bottom: 3rem
		right: 3rem
		left: 3rem
	+r($xs)
		top: 1rem
		right: 1rem
		bottom: 1rem
		left: 1rem
	&.is-active
		opacity: 1
		visibility: visible
	&__list
		li
			color: $text
			text-transform: none 
			+tahoma
			font-size: 1.3rem
			padding-left: 1.7rem
			position: relative
			margin-bottom: .8rem
			&:before
				content: ""
				position: absolute
				height: .6rem
				width: .6rem
				border-radius: 50%
				background: $btn
				top: 50%
				margin-top: -0.3rem
				left: 0 
	&__in
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 50%
		background: #fff 
		margin-left: -55rem
		padding: 1.7rem 2rem 1.7rem 3rem
		border: 2px solid $footer
		max-width: 110rem
		+r(1200)
			max-width: 100%
			left: 0
			margin: 0
	&__scroll
		max-height: 100%
		overflow-y: auto
		overflow-x: hidden
		+scrollbar
			width: .4rem
			background: $footer
			right: 2rem
		+scrollbar-thumb
			background: $btn
			height: 20rem
	&__close
		position: absolute
		right: -1.3rem
		top: -1.3rem
		width: 2.8rem
		height: 2.8rem
		background: #7e8790
		+tr(background .3s)
		&:hover
			background: darken(#7e8790, 5%) 
		&:before,
		&:after
			content: ""
			position: absolute
			left: 50%
			top: 50%
			height: .2rem
			width: 1.4rem
			background: #fff
		&:before
			transform: translate3d(-50%,-50%,0) rotate(45deg)
		&:after
			transform: translate3d(-50%,-50%,0) rotate(-45deg)
		
		 

		