.footer
	border-top: 1px solid #fff 
	background: $footer 
	padding-top: 4.5rem
	transition: transform .3s 
	+r($sm)
		padding-top: 2rem
	.name
		margin-top: 0
	&__top
		+clr
	&__mid
		padding: 4rem 0 3rem
		+clr
		+r($sm)
			border-top: 1px solid white
			padding: 1.6rem 0 2rem 
			margin-top: 2rem
	&__bottom
		border-top: 1px solid white
		padding: 2.5rem 0 1.8rem
		+r($xs)
			padding: 2rem 0 1.5rem 
		.links
			font-size: 1.2rem
	&__sm
		display: none
		border-top: 1px solid white
		padding: 1.8rem 0 1.5rem
		+r($xs)
			display: block

.links
	li
		margin-bottom: 0.2rem
		+r($sm)
			margin-bottom: 0.7rem
		
	a
		display: inline-block
		border-bottom: 1px solid $text-dark
		color: $text-dark
		transition: border-color .3s
		line-height: 1.2

		+r($sm)
			font-size: 1.3rem
		&:hover
			border-color: transparent
	&_horizontal
		text-align: center
		display: table 
		width: 100%
		li
			display: table-cell
			vertical-align: middle
			margin-bottom: 0
			// margin-left: 4rem
			+r($sm)
				margin-left: 2.5rem
			+r($xxs)
				margin-left: 1rem
			&:first-child
				margin-left: 0
		a
			+r($sm)
				font-size: 0.9rem
	&_sitemap
		text-align: left
		padding: .5rem 0 2.8rem
		width: 100%
		font-size: 0
		
		li
			padding-left: 1.7rem
			position: relative
			display: inline-block
			min-width: 19.5rem
			margin-top: 1.5rem
			+r($md)
				min-width: 15.8rem 
			+r($sm)
				min-width: 11.5rem
				margin-right: 1rem 
				padding-left: 1.5rem
			+r(470)
				min-width: 48.5%
				margin-right: 0 
			&:before
				content: ""
				position: absolute
				height: .6rem
				width: .6rem
				border-radius: 50%
				background: $btn
				top: 50%
				margin-top: -0.3rem
				left: 0 
		a
			font-size: 1.5rem
			+r($xs)
				font-size: 1.2rem
		&.is-block
			li
				display: block
				+r($sm)
					display: inline-block 
		
.net
	&__name
		display: inline-block
		vertical-align: middle
		margin-right: 1.4rem
		+r($xs)
			display: block
			text-align: center
			margin-bottom: 1.3rem
			font-size: 1.5rem
	&__panel
		display: inline-block
		vertical-align: middle
		font-size: 0
		+r($xs)
			text-align: center
			display: block
			margin-bottom: 2.15rem 
	&__item
		display: inline-block
		vertical-align: middle
		text-align: center
		height: 2.9rem
		width: 2.9rem
		color: white
		font-size: 0 
		transition: background-color .3s 
		margin-left: 1rem
		+vertical
		&:first-child
			margin-left: 0
		+r($xs)
			width: 4.5rem
			height: 4.5rem
		i
			vertical-align: middle
			+icon
			transition: color .3s
		&.is-fb
			background: $fb
			&:hover
				background-color: transparent 
				i
					color: $fb 
			&:active
				background-color: transparent 
				i
					color: darken(#5593cf,10%) 
			i
				font-size: 1.4rem 
				+r($xs)
					font-size: 2.1rem
		&.is-tw	
			background: $tw
			&:hover
				background-color: transparent 
				i
					color: $tw 
			&:active
				background-color: transparent 
				i
					color: darken($tw,10%) 
			i
				font-size: 1.2rem 
				+r($xs)
					font-size: 1.85rem
		&.is-yt
			background: #d34848
			&:hover
				background-color: transparent 
				i
					color: #d34848 
			&:active
				background-color: transparent 
				i
					color: darken(#d34848,10%) 
			i
				font-size: 1.4rem 
				+r($xs)
					font-size: 2.25rem
		&.is-gp
			background: $gp
			&:hover
				background-color: transparent 
				i
					color: $gp 
			&:active
				background-color: transparent 
				i
					color: darken($gp,10%)
			i
				font-size: 1.3rem 
				+r($xs)
					font-size: 2.25rem 
.madein
	text-align: right
	+r($xs)
		text-align: center
		font-size: 1.2rem
		margin-left: 4.6rem
	span
		display: inline-block
		position: relative
		&:before
			content: ""
			position: absolute
			background: url(../img/korea.svg)
			background-size: 2.7rem 2.4rem	
			width: 2.7rem
			height: 2.4rem
			left: -4.6rem
			top: 50%
			margin-top: -1.2rem 
.copyright
	font-size: 1.2rem
	+r($sm)
		font-size: 1.1rem
	span,
	a
		display: inline-block
		vertical-align: middle
		letter-spacing: 0 
	a
		border-bottom: 1px solid transparent
		line-height: 1.3
		transition: border-color .3s
		color: $text 
		&:hover
			border-color: $text
.lang
	font-size: 1.2rem
	text-align: right
	a
		display: inline-block
		vertical-align: middle
		color: $title
		margin-right: 2rem
		transition: color .3s
		+r($sm)
			margin-right: 1.4rem
		&:hover
			color: $btn
		&:active
			color: lighten($btn, 15%)
		&:last-child
			margin-right: 0
		&.is-active
			color: $btn 
