.header
	position: absolute
	top: 2rem
	background: $header 
	left: 0
	right: 0
	height: 7.2rem
	z-index: 10
	+r($sm)
		top: 0 
		height: 5.3rem 
	&__in
		position: relative
	&__bottom
		position: absolute
		top: 100%
.logo
	width: 23rem
	height: 14.2rem
	position: absolute
	background: white
	text-align: center
	+vertical
	margin-top: -2rem 
	z-index: 2	
	+r($sm)
		width: auto
		height: auto 
		margin-top: 0
		background-color: transparent 
		left: 50%
		margin-left: -3.75rem 
		top: .5rem
		 
	img
		vertical-align: middle
		+r($sm)
			width: 7.5rem
.menu-wrap
	padding: 0 7.2rem 0 23rem
	+r($sm)
		padding-left: 20rem 
	+r($xs)
		padding: 0 
.menu
	display: table
	width: 100%
	position: relative
	+r($sm)
		display: none
	&__item
		display: table-cell 
		text-align: center
		transition: background .3s
		&.is-active,
		&:hover
			background: $menu
			.menu__link
				color: $title 
		&:hover
			.menu__drop
				visibility: visible 
				opacity: 1 
	&__link
		display: block
		height: 7.2rem 
		line-height: 7.2rem 
		color: $title
		font-size: 1.4rem 
		+reg 
	&__drop
		position: absolute
		left: 0
		top: 100%
		right: -7.2rem
		background: $menu 
		font-size: 0
		text-align: left
		border-top: 1px solid #fff
		visibility: hidden 
		opacity: 0
		transition: opacity .3s 
		+clr
	.prod
		&:nth-child(3n)
			border-right: none
.prod
	overflow: hidden
	width: 33.3%
	border-bottom: 1px solid #fff
	border-right: 1px solid #fff 
	text-align: center
	float: left
	&:hover
		.prod__img-back
			display: block
		.prod__img-front
			display: none
	&__img
		padding: .5rem 3rem
		img
			max-width: 100%
			height: auto
			vertical-align: middle
	&__img-back
		display: none
		height: 13rem
		line-height: 13rem
	&__img-front
		height: 13rem
		line-height: 13rem	
	&__title
		font-size: 2.2rem
		+med
		color: $title 
		text-transform: uppercase
	&__info
		margin-bottom: 1rem
		color: #45464b
		+reg
		font-size: 1.4rem 
	&__btn
		display: block
		border-top: 1px solid #fff
		height: 4.1rem
		line-height: 4.1rem
		text-transform: uppercase 
		font-size: 1.3rem
		+reg
		color: $title 
		+tr(color .3s)
		span
			color: $btn
			display: inline-block
			margin-left: 1.5rem 
			font-size: 1.7rem
			font-family: Arial  
			+tr(color .3s)  
		&:hover
			color: $btn 
		&:active
			color: darken($btn, 20%) 
.submenu
	display: table
	width: 100%
	position: relative
	&:before,
	&:after
		content: ""
		position: absolute
		height: 4.6rem
		width: 60rem
		top: -1px 
		background-color: $menu
		border-top: 1px solid #fff
		 
	&:before
		left: -60rem 
	&:after
		right: -60rem 
	&__item
		display: table-cell 
		text-align: center
		transition: background .3s
		&:hover
			background: $header 
			.submenu__link
				color: $title 
	&__link
		display: block
		height: 4.5rem 
		line-height: 4.5rem 
		color: $title
		font-size: 1.3rem 
		+reg 
.btn-search
	width: 7.2rem
	height: 7.2rem
	background: $block 
	position: absolute
	right: 0
	top: 0
	transition: background .3s
	z-index: 2
	+r($sm)
		height: 5.3rem
		width: 5.3rem 
		right: -1rem
	&:hover
		background: lighten($block, 5%) 
	&:active
		background: lighten($block, 10%) 
	i
		+icon
		vertical-align: middle
		font-size: 1.6rem
		color: white  
		+r($xs)
			font-size: 1.4rem
.gamburger
	display: none
	height: 5.3rem 
	width: 5.3rem
	background: $btn 
	margin-left: -1rem
	text-align: center
	transition: background .3s
	+r($sm)
		display: block
	&:active
		background: darken($btn, 10%) 
	&.is-active
		span
			background: none 
			&:before
				transform: rotate(45deg)
				top: 0
			&:after
				transform: rotate(-45deg)
				bottom: 0
	span
		width: 1.9rem
		height: .2rem
		display: block
		background: #fff
		margin: 0 auto
		position: relative
		+tr(background .3s)
		&:before,
		&:after 
			content: ""
			background: white
			position: absolute
			width: 1.9rem
			height: .2rem
			left: 0
			transition: transform, position, .3s
		&:before
			top: -.4rem 
		&:after
			bottom: -.4rem
.search
	position: absolute
	right: 0
	top: 0
	height: 7.2rem
	background: $item
	width: 0
	z-index: 3
	visibility: hidden 
	transition: width .5s
	+r($sm)
		height: 5.3rem
	input
		padding: 0 7.2rem 0 3.5rem
		font-size: 1.4rem
		height: 7.2rem
		color: white
		width: 100%
		+italic 
		vertical-align: middle 	
		background: transparent 
		+placeholder
			color: white 
		+r($sm)
			height: 5.3rem
	&.is-active
		visibility: visible
		width: 42rem 	
		+r($sm)
			width: 26.7rem
