.video-slider
	position: relative
	&.is-ready
		.preloader
			display: none
		.slick-slider
			visibility: visible
	.is-box-bottom
		.video-slider__box
			bottom: 0
	.is-box-middle
		.video-slider__box
			top: 50%
			transform: translateY(-50%)
	&__in
		position: relative
		overflow: hidden
		height: 100vh
		video, img, picture
			display: block
			width: 100%
			height: auto
			+r(1200)
				width: auto
				height: 100%
			+rh(480)
				width: 100%
				height: auto
	&__box
		position: absolute
		right: 0
		padding: 2rem 
		width: 38rem
		color: $title 
		background: rgba(#e6e8ec, .8) 
		+r(380)
			width: 100%
	&__title
		margin-bottom: 0.5rem
		font-size: 6rem
		+med
		line-height: 1
	&__info
		text-transform: uppercase
		font-size: 1.8rem
		line-height: 1.5
	&__arrows
		position: absolute
		right: 2rem
		bottom: 2rem
		font-size: 0
		.btn-nav
			margin: 0
			&.is-prev
				margin-right: 0.4rem
	.container-fluid
		position: absolute
		top: 0
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		width: 120rem
		+r(1200)
			width: 100%
			left: 0
			right: 0
			transform: translateX(0)
	.preloader
		display: none
		// position: absolute
		// top: 50%
		// left: 50%
		// transform: translate3d(-50%,-50%,0)
	// .slick-slider
	// 	visibility: hidden
	.slick-dots
		position: absolute
		left: 2rem
		right: 40rem
		bottom: 2rem
		text-align: left
		z-index: 2
		margin: 0
	.btn-nav_down
		position: absolute
		bottom: -1.7rem
		left: 50%
		transform: translateX(-50%)
		z-index: 2
.post
	width: 100%
	+r($xs)
		margin-bottom: 1rem
	&_simple
		.post__img
			height: auto
			+r($xs)
				height: auto
			img
				width: 100%
				height: auto
				&:hover
					transform: none
	&__img
		width: 100%
		height: 17.2rem
		overflow: hidden
		&:hover
			img
				transform: scale(1.1)
		+r($xs)
			height: 10.3rem
		img
			display: block
			height: 100%
			width: auto
			+tr(transform .5s)
		+ .post__text
			margin-top: 1.7rem
	&__text
		+ .post__img
			margin-top: 2.2rem
	&__svg
		height: 6.5rem
		line-height: 6.5rem
		margin-bottom: .5rem 
		position: relative
		+r($xs)
			margin-bottom: 0
			height: 6rem
		i
			display: inline-block
			vertical-align: bottom
			color: $btn
			+icon
		img
			display: inline-block
			vertical-align: bottom
	&__svg-horn
		img
			height: 3.5rem
			+r($xs)
				height: 3.3rem
	&__svg-bag
		img
			height: 6.4rem
			+r($xs)
				height: 6rem 
	&__svg-inyan
		img
			height: 6.4rem
	.icon-cell
		font-size: 5rem
		+r($xs)
			font-size: 4.6rem
	.icon-loc
		font-size: 6.4rem 
		+r($xs)
			font-size: 6rem 
	.icon-car
		font-size: 5.5rem 
	.icon-horn
		font-size: 3.5rem
		+r($xs)
			font-size: 3.3rem
	.icon-check
		font-size: 6.4rem
		+r($xs)
			font-size: 6rem	
	.icon-scheme
		font-size: 6.3rem
	.icon-hands
		font-size: 6.4rem
	.icon-inyan
		font-size: 6.2rem
	.icon-love
		font-size: 5.9rem
	.icon-comment
		font-size: 6.2rem
	.icon-planet
		font-size: 6.4rem
	.icon-shell
		font-size: 6.4rem 
	.icon-speed
		font-size: 6.4rem
	.icon-oil
		font-size: 6.4rem 
	.subtitle
		color: $title 
.post_text
	+r($sm)
		margin-bottom: 2rem
.name
	font-size: 2rem
	+med
	color: $title
	line-height: 1
	margin: 1.7rem 0 .8rem 
	&.is-white
		color: #FFF 
	&_big
		+light
		text-transform: uppercase
		font-size: 2.4rem
		line-height: 1.4 
		margin: 1.7rem 0 2rem 
		+r($xs)
			font-size: 2.2rem
			margin: 1rem 0 1.5rem 
		+r($xxs)
			font-size: 2rem
			margin: 1rem 0 1rem
	&_light
		text-transform: uppercase 
		+light
		+r($xs)
			font-size: 2.2rem
		+r($xxs)
			font-size: 1.8rem
	&.no-marg
		margin: 0 
	&.with-mb
		margin-bottom: 2.8rem 
		+r($xs)
			margin-bottom: 1.8rem
	sup
		display: inline-block
		top: 0
		width: 1.8rem	
		color: $required
		font-size: 2.4rem		
.poster
	position: absolute
	right: 0
	left: 43%
	top: 0
	bottom: 0 
	+rm(1400)
		left: 45%
	+rm(1800)
		left: 48%
	+r($xs)
		+cover
		top: 0
		bottom: 0
		right: 0
		left: 0
		height: auto
		width: auto
		margin-left: -1rem
		margin-right: -1rem
	img
		width: 100%
		height: auto
		+r($md)	
			width: auto
			height: 100%
		+r($xs)
			height: auto
			width: auto
	


.text
	&[data-column="2"]
		column-count: 2
		+r($xs)
			column-count: 1
	p
		margin-top: 1.5rem 
		&:first-child
			margin-top: 0
	&_secondary
		color: #fff 
	.with-mb
		margin-bottom: 3rem
		+r($xs)
			margin-bottom: 2.5rem
	.with-mt
		margin-top: 3.5rem
		+r($xs)
			margin-top: 2.5rem  
	&.with-marg
		margin: 2.2rem 0 2.7rem
		+r($xs)
			margin: 1.8rem 0 1.3rem
	+ .img
		margin-top: 2.3rem
	&.with-mb
		margin-bottom: 2rem
		
.video
	height: 100vh
	overflow: hidden
	img
		width: 100%
		height: auto


