.banner
	overflow: hidden
	+cover
	position: relative
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: rgba(#000,.5)  
	img
		width: 100%
		height: auto
	&__in
		position: relative
		min-height: 23.3rem
		+clr
		+r($sm)
			min-height: 12.5rem 
	&__wrap
		position: relative
		z-index: 3
		padding-top: 4.5rem 
		+r($sm)
			padding: 2rem 0
	&_big
		.banner__in
			min-height: 48.6rem
			+r($xs)
				margin-left: -2rem
				min-height: 32rem
		&:after
			display: none
	&_small 
		.banner__in
			min-height: 17rem
			+r($xs)
				min-height: 14.3rem  
	&_inner
		min-height: 44rem
		+r($sm)
			min-height: auto
		&:after
			background: rgba(#3a3d43,.3) 
			z-index: 0
			
.article
	+clr
	h1
		color: $title
		font-size: 3.5rem
		text-transform: uppercase 
		line-height: 1.2 
		margin-bottom: 2.2rem
		+med
		+r($sm)
			font-size: 3rem
		+r($xs)
			font-size: 2.5rem
			margin-bottom: 1rem
		+r($xxs)
			font-size: 2rem
	img
		float: left
		width: 48rem
		height: auto
		margin: 0 2rem 1.5rem 0 
		+r($sm)
			width: 40rem
			margin: 0 1.5rem 1rem 0 
		+r($xs)
			float: none
			width: 100%
	p
		margin-bottom: 2.3rem
		+r($sm)
			margin-bottom: 1.8rem
.share-panel
	border-top: 1px solid $footer
	padding: 1rem 0
	font-size: 0 
	margin-top: 0.5rem
	+r($xs)
		padding: 2.2rem 0 
	+r($xxs)
		padding: 1rem 0

.share
	display: inline-block
	vertical-align: middle
	height: 2.9rem
	line-height: 2.9rem
	transition: background .3s
	margin-right: 1rem
	+r($xs)
		height: 2rem
		line-height: 2rem 
	+r($xxs)
		display: block
		max-width: 11.5rem 
		margin: 1rem auto
		
	&:last-child
		margin-right: 0
		+r($xxs)
			margin-right: auto 
	&.is-fb
		background: $fb
		&:hover
			background: darken($fb, 10%)
		&:active
			background: lighten($fb, 5%) 
	&.is-tw
		background: $tw
		&:hover
			background: darken($tw, 10%)
		&:active
			background: lighten($tw, 5%) 
	&.is-gp
		background: $gp
		&:hover
			background: darken($gp, 10%)
		&:active
			background: lighten($gp, 5%) 
	&__net
		width: 2.9rem
		border-right: 1px solid white
		text-align: center
		display: inline-block
		vertical-align: middle
		font-size: 0
		+r($xs)
			width: 2rem
		i
			vertical-align: middle
			+icon
			color: white
	&__text
		padding: 0 1rem 
		color: white 
		display: inline-block
		vertical-align: middle
		font-size: 1.3rem
		text-align: center
		+r($xs)
			font-size: .9rem
			padding: 0 .4rem 
	.icon-fb
		font-size: 1.4rem
		+r($xs)
			font-size: 1.1rem
	.icon-tw
		font-size: 1.3rem
		+r($xs)
			font-size: 0.9rem
	.icon-gp
		font-size: 1.3rem 
		+r($xs)
			font-size: 1rem
.breadcrumbs
	margin: 3.5rem 0 
	+r($xs)
		margin: 1.5rem 0 
	&__item
		display: inline-block
		vertical-align: middle
		&:after
			content: "/"
			display: inline-block
			vertical-align: middle
			color: #6a6d73
			margin: 0 1rem 
			+r($xs)
				margin: 0 .6rem 
		span
			line-height: 1
			color: $title
			border-bottom: 1px solid $title
			transition: border-color .3s, color .3s
			+r($xs)
				font-size: 1rem
		&:last-child
			&:after
				display: none			
		&:hover
			span
				border-color: transparent
		&:active
			span
				border-color: $title
		&.is-active
			cursor: default
			span
				border: none
				color: #6a6d73 
.promo
	width: 100% 
	min-height: 48.6rem 
	background: rgba(#000,.8) 
	padding: 14.6rem 5.3rem 4.5rem
	color: white
	+r($xs)
		min-height: 32rem
		padding: 10rem 3rem 3rem
	&__dib
		display: inline-block
		vertical-align: bottom  
		max-width: 22rem 
		margin-right: 6rem
		+r($sm)
			margin-bottom: 1rem
		+r($xs)
			max-width: 100%
		&:last-child
			margin-right: 0
	&__name
		color: white
		font-size: 8rem
		margin-bottom: -1.6rem
		+med 
		+r($sm)
			margin-bottom: 0
			font-size: 5rem
		+r(xs)
			font-size: 4rem
	&__list-name
		+bold
		font-size: 2rem
		+r($sm)
			font-size: 1.5rem
	&__list
		li
			font-size: 1.5rem
			margin-top: 0.9rem
			+reg
			+r($sm)
				font-size: 1.3rem
			&:before
				content: "-"
				display: inline-block
				margin-right: .5rem 
.price
	font-size: 3.5rem
	color: white
	+med
	+r($sm)
		font-size: 2rem
	span
		display: block
		font-size: 1.5rem
		margin-bottom: -1rem 
		+r($sm)
			margin-bottom: 0
.navigation-wrap
	background: #e6e8ec 
.navigation
	display: table
	width: 100%
	table-layout: fixed
	li
		display: table-cell 
		height: 4.5rem 
		background: $footer
		border-left: 1px solid white 
		line-height: 4.5rem
		text-align: center
		&:first-child	
			background: $hot
			border-left: none
			a
				color: white
				&:before
					content: ""
					position: absolute
					height: 4.5rem
					width: 60rem
					background: $hot
					left: -60rem  
					transition: background .3s  
				&:hover,
				&.is-active
					background: $hot-hover 
					&:before
						background: $hot-hover 
		&:last-child
			background: $btn-dark 
			a
				color: white
				&:before
					content: ""
					position: absolute
					height: 4.5rem
					width: 60rem
					background: $btn-dark
					right: -60rem  
					transition: background .3s 
				&:hover,
				&.is-active
					background: lighten($btn-dark,10%) 
					&:before
						background: lighten($btn-dark,10%) 
	a
		display: block	
		position: relative	
		padding: 0 .5rem 
		height: 100%
		color: $title
		background: transparent
		transition: background .3s 
		+text-overflow
		+reg
		&:hover,
		&.is-active
			background: darken($footer, 10%) 
	&_default
		li
			&:first-child,
			&:last-child
				background: $footer
				a
					color: $title
					&:before,
					&:after
						background: $footer
					&:hover,
					&.is-active
						background: darken($footer,10%)  
						&:before,
						&:after
							background: darken($footer,10%)
			&.is-active
				background: #f1f3f7
				a
					cursor: default
					&:before,
					&:after
						background: #f1f3f7 
					&:hover	
						background: #f1f3f7 
						&:before,
						&:after
							background: #f1f3f7 
.tabs
	font-size: 0
	+r($sm)
		text-align: center
		margin: 2rem 0
	&__item
		display: inline-block
		vertical-align: top
		margin-right: 1rem
		&:last-child
			margin-right: 0 
		&.active
			.tabs__link
				background: $btn
				position: relative
				color: white
				&:after
					content: ""
					position: absolute
					bottom: -.3rem 
					left: 50%
					margin-left: -.5rem 
					+arr(1,.4,$btn,b)
	&__link
		display: block
		line-height: 1
		padding: .8rem 2rem
		font-size: 1.2rem
		color: $title
		background: $footer 
		text-transform: uppercase
		transition: background .3s
		+light
		&:hover
			background: darken($footer,10%) 
.tabs-content
	display: none
	.crsl-demo
		transform: translate3d(0,0,0)
	&.active,
	&.is-active
		display: block		
		
.tabs-image
	&__item
		width: 100%
		position: relative
		img
			width: 100%
			height: auto
	.btn-circle
		position: absolute
		+r($xs)
			display: none
.block
	.crsl-demo
		margin-top: -6rem
		+r($sm)
			margin-top: 1rem
.crsl-demo
	margin-left: 3rem
	position: relative
	+tr(opacity .3s)
	+r($sm)
		margin-left: 0
	&.is-inactive
		opacity: 0
		visibility: hidden
	.slick-arrow
		position: absolute
		bottom: 0
	.slick-prev
		left: 0
	.slick-next
		right: 0
	.slick-dots
		position: absolute
		bottom: 1.3rem
		left: 4rem
		right: 4rem
		margin: 0
		text-align: center
	&__slide
		background: $footer
		padding-bottom: 3.8rem 
	&__img
		width: 100%
		height: 21.5rem
		overflow: hidden
		+r($xs)
			height: auto
		img
			height: auto
			width: 100%
	&__bottom	
		height: 13.5rem
		padding: 1rem 2rem
		+r($xs)
			height: auto 
	&__title
		+light
		font-size: 2rem
		color: $title  
		text-transform: uppercase 
.link-name
	+reg
	font-size: 1.6rem
	color: $title
	border-bottom: 1px solid transparent
	display: inline-block
	transition: border-color .3s
	line-height: 1
	+r($xs)
		border-color: $title
	&:hover
		border-color: $title	
		color: $title
	&:active
		border-color: $title
		+r($xs)
			border-color: transparent
	&_big
		font-size: 2.4rem
		+light	
		text-transform: uppercase
		+r($xs)
			font-size: 2.2rem 
		+r($xxs)
			font-size: 1.8rem 
	&_light
		+light
		font-size: 1.8rem
		text-transform: uppercase 
		+r($xs)
			font-size: 1.7rem
			+med 
		+r($xxs)
			font-size: 1.4rem 
	&.with-mb
		margin-bottom: 2.5rem
.error
	padding: 2rem 0 2.5rem 
	+r($xs)
		padding: 0 0 2rem
	&__number
		color: $btn
		font-size: 6rem
		+med
		+r($xs)
			font-size: 10rem
			display: block
			margin-top: -1.5rem
		+r($xxs)
			font-size: 6rem
			margin-top: 0
	&__info 
		font-size: 6rem
		+med
		color: $title
		text-transform: uppercase 
		+r($xs)
			font-size: 3rem
			display: block
			margin-top: -2rem
		+r($xxs)
			font-size: 2.5rem
	p
		margin-top: -2rem
		+r($xs)
			margin-top: 0
.photo
	+r($xs)
		margin-bottom: 4rem 
	&__img
		width: 20rem
		height: 23rem
		overflow: hidden
		+r($xs)
			display: inline-block
			width: 16.8rem
			height: 19.5rem
		img
			height: 100%
			width: auto
	&__name
		color: #46484C 
		font-size: 2rem
		margin: .8rem 0 -.5rem 
		+r($xs)
			font-size: 1.8rem
	&__right
		+r($xs)
			display: inline-block
.quote
	position: relative
	p
		+italic
		color: $text 
		margin-top: 2.5rem
		&:first-child
			margin-top: 0
	&:before,
	&:after
		content: ""
		position: absolute
		top: .5rem  
		width: .9rem
		height: 3.1rem
		background: $menu
		transform: rotate(7deg) skew(-7deg,-7deg)
		+r($xs)
			top: -2rem
			height: 1.5rem
			width: .5rem 
	&:before
		left: -2.5rem
		+r($xs)
			left: 1.5rem 
	&:after
		left: -4rem
		+r($xs)
			left: 0.5rem
.img-group
	.img
		margin-bottom: 2rem
.img
	width: 100%
	transition: width .3s
	overflow: hidden
	img
		display: block
		width: 100%
		height: auto
		+tr(transform .5s)
		&:hover
			transform: scale(1.1)
	&_secondary
		img
			&:hover
				transform: none
		+r($sm)
			margin-top: 0
	+r($xs)
		margin-top: 1rem
	&_height
		height: 23.7rem
		overflow: hidden 
		margin-bottom: 2rem 
		+r($sm)
			height: 10.5rem
			margin-bottom: 1rem
			margin-top: 0
	&.with-mb	
		margin-bottom: 3rem

.item
	height: 20rem
	width: 100%
	overflow: hidden
	position: relative
	display: block
	+r($xs)
		margin-bottom: 2rem
		height: 18.4rem
	&:hover
		&:before
			opacity: .4 
	&:active
		&:before
			opacity: 0.2
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: $item
		opacity: 0.8
		transition: opacity .3s
	&__img
		+cover
		width: 100%
		img
			width: 100%
			height: auto
	&__name
		position: absolute
		bottom: 1.7rem
		right: 1rem
		left: 1rem
		text-align: center 
		color: white
		font-size: 2.4rem
		line-height: 1.2
		+med
		text-transform: uppercase
		+r($sm)
			font-size: 2.2rem
.border-out
	position: relative
	padding: 1.2rem 0 3.3rem 
	margin-top: 2.3rem
	+r($xs)
		padding: 0
		margin-top: 0
		margin-bottom: 2rem  
	&:before
		content: ""
		position: absolute
		width: 90rem
		height: 1px
		right: 0
		top: 0 
		background: $footer 
		+r($xs)
			display: none
.map
	position: relative
	height: 62.2rem
	background: #333
	+r($xs)
		height: auto
	&__in
		position: absolute
		padding: 4.5rem 3rem 
		top: 0
		bottom: 0
		right: 0
		left: 66.6%
		background: #2B2B2B 
		+r($xs)
			position: static
			width: 100%
			padding: 2.5rem 0 
	&__body
		height: 100%
		+r($xs)
			height: 60vh
	.gm-style-cc
		display: none

.map_width-form	
	height: 75rem
	+r($xs)
		height: auto
		background: none 
	.map__in
		right: 0
		left: auto
		bottom: auto
		z-index: 3
		padding: 3rem 
		width: 41%
		background: $map 
		+r($xs)
			padding: 1.5rem 1rem 
			position: static
			width: 100%
			display: none
		&.is-active
			+r($xs)
				display: block
	.block
		position: absolute
		left: 0
		right: 0
		top: 0
		z-index: 2
		background: #fff 
		+r($xs)
			position: relative
	.form
		padding: 0
	.input_thirdrate
		margin-bottom: 2rem
.map_owners
	height: 54rem
	+r($xs)
		height: auto
.map-tooltip
	max-width: 200px
	color: $title 
	&__head
		margin-bottom: 0.5rem
		+bold
		font-size: 1.5rem
	&__body
		font-size: 1.3rem
.page
	position: relative
	+clr
	margin-bottom: 4.5rem
	&:last-child
		margin-bottom: 0
	.name
		margin-top: 0
	&__img
		position: absolute
		right: 1rem
		left: 51%
		bottom: 0
		top: 0
		overflow: hidden
		img
			width: 100%
			height: auto 
		+r($xs)
			display: block
			position: static
			clear: both
			height: 14.25rem
	.text
		+r($xs)
			margin-bottom: 2rem
	&_secondary
		.page__img
			left: 0
			right: 51%
	&_thirdrate
		.page__img
			+r($xs)
				position: absolute
				right: -3rem 
				height: auto
			+r($xxs)
				display: none
	&.with-mb
		margin-bottom: 2rem
		+r($xs)
			margin-bottom: 0
			.page__img
				margin-bottom: 2rem
.philos-wrap
	+clr
	margin-top: 2.6rem
	.text
		margin-left: -4.5rem
		+r($md)
			margin-left: 0
.philos
	background: #375396
	+clr
	width: 63.4rem
	position: relative
	+r($md)
		width: 56.3rem
	+r($sm)
		width: 34.5rem
	+r($xs)
		margin-top: 1.5rem
	+r($xxs)
		width: 31rem
	&__item
		width: 18.7rem
		height: 13rem
		padding: 0 0 0 3rem
		position: relative
		+vertical
		+r($md)
			height: 11rem
			width: 16.7rem
		+r($sm)
			height: 7rem
			width: 10rem
			padding: 0 0 0 1rem 
		+r($xxs)
			height: 6rem
			width: 10.5rem 
		&:after
			content: ""
			position: absolute
			right: 0
			top: 0
		&.is-1
			background: #009ed6 
			padding: 0 3rem 0 2rem 
			+r($sm)
				padding: 0 0 0 1rem
			&:after
				right: -13rem
				+arr(13,13,#009ed6,tl)
				+r($md)
					right: -11rem
					+arr(11,11,#009ed6,tl)
				+r($sm)
					right: -7rem
					+arr(7,7,#009ed6,tl)
				+r($xxs)
					right: -5rem
					+arr(5,6,#009ed6,tl)
		&.is-2
			background: #E46C0A 
			&:after
				right: -13rem
				+arr(13,13,#E46C0A ,bl)
				+r($md)
					right: -11rem
					+arr(11,11,#E46C0A ,bl)
				+r($sm)
					right: -7rem
					+arr(7,7,#E46C0A ,bl)
				+r($xxs)
					right: -5rem
					+arr(5,6,#E46C0A ,bl)
		&.is-3
			background: #cf2e2e 
			text-align: right
			padding: 0 3rem 0 0
			+r($sm)
				padding: 0 1rem 0 0 
			&:after
				left: -13rem
				+arr(13,13,#cf2e2e ,tr)
				+r($md)
					left: -11rem
					+arr(11,11,#cf2e2e ,tr)
				+r($sm)
					left: -7rem
					+arr(7,7,#cf2e2e ,tr)
				+r($xxs)
					left: -5rem
					+arr(5,6,#cf2e2e ,tr)
		&.is-4
			background: #92d050 
			text-align: right
			padding: 0 3rem 0 2rem
			+r($sm)
				padding: 0 1rem 0 0 
			&:after
				left: -13rem
				+arr(13,13,#92d050,br)
				+r($md)
					left: -11rem
					+arr(11,11,#92d050,br)
				+r($sm)
					left: -7rem
					+arr(7,7,#92d050,br)
				+r($xxs)
					left: -5rem
					+arr(5,6,#92d050,br)
	&__left
		float: left
	&__right
		float: right
	&__name
		position: absolute
		z-index: 10
		width: 14rem
		left: 50%
		top: 50%
		height: 5rem
		margin-top: -2.5rem
		margin-left: -7rem 
		text-align: center
		+r($sm)
			width: 9.5rem
			margin-top: -1.5rem
			margin-left: -4.8rem 
		
	.name
		color: white
		margin: 0 0
		display: inline-block
		vertical-align: middle
		line-height: 1.35
		font-size: 1.5rem
		+r($sm)
			line-height: 1.2
			+light 
		+r($xxs)
			font-size: 1.1rem
	&__text
		+light
		font-size: 1.5rem
		display: inline-block
		color: white 
		line-height: 1.3
		vertical-align: middle
		letter-spacing: 0
		+r($sm)
			font-size: 1rem
.diagram
	position: relative
	width: 27.4rem
	margin: 2.8rem auto 1rem  
	&__item
		position: absolute
		border-bottom: 1px solid $title
		color: $title
		+light
		font-size: 1.4rem
		&.is-1
			width: 28rem
			left: -20.6rem 
			top: 1.7rem
		&.is-2
			width: 22.2rem
			left: -17.7rem
			bottom: 9.3rem
		&.is-3
			width: 22.9rem
			right: -15.1rem 
			top: 1.7rem
			text-align: right
		&.is-4
			width: 18.1rem
			right: -15.1rem
			bottom: 9.3rem 
			text-align: right
			span
				width: 10rem
				display: inline-block
		
.icon-dia
	background: url(../img/dia.svg)
	background-size: 27.4rem 27.4rem
	width: 27.4rem
	height: 27.4rem   
.search-in
	position: relative
	margin: 0 3.3rem 2.8rem
	+r($sm)
		margin: 0 0 2.3rem 
	&__btn
		position: absolute
		top: 0
		right: 0
		height: 5.6rem
		width: 5.6rem
		line-height: 5.6rem
		background: #F0F2F5
		transition: background .3s
		text-align: center
		+r($sm)
			height: 3.5rem
			width: 3.5rem
			line-height: 3.5rem
		&:hover
			background: darken(#F0F2F5,10%)
		&:active
			background: darken(#F0F2F5,5%)
			i
				color: lighten(#b2b3b3,10%)
		i
			+icon
			display: inline-block
			vertical-align: middle
			font-size: 1.5rem 
			color: #B2B3B3
			transition: color .3s  
			+r($sm)
				font-size: 1.2rem
	input
		width: 100%
		display: block
		height: 5.6rem
		font-size: 1.5rem 
		color: #ACACAC 
		padding: 0 7.6rem 0 2rem 
		background: #f0f2f5 
		+italic
		+r($sm)
			font-size: 1.2rem
			padding: 0 4.5rem 0 1.6rem 
			height: 3.5rem
.tab-in
	float: right
	text-align: right
	padding-right: 3.3rem 
	font-size: 0 
	+r($sm)
		float: none
		padding-right: 0
	+r($xs)
		text-align: left
	&__item
		display: inline-block
		margin-left: 3.3rem
		vertical-align: middle
		position: relative
		+r($sm)
			margin-left: 3rem
		&:first-child
			margin-left: 0
		&:hover
			span
				border-color: #727580
		&:active
			span
				border-color: transparent
		span
			display: inline-block
			vertical-align: middle
			margin-left: 1rem 
			color: #727580
			font-size: 1.5rem 
			border-bottom: 1px solid transparent
			line-height: 1
			transition: border-color .3s
			+r($sm)
				font-size: 1.7rem
		i
			vertical-align: middle
			+icon
			color: #727580
			transition: color .3s
		.icon-loc2
			font-size: 1.6rem
			+r($sm)
				font-size: 1.85rem
		.icon-list
			font-size: 1.1rem	
			+r($sm)
				font-size: 1.25rem		
		&.is-active
			span
				color: #252629 
			i
				color: $btn 
			&:hover
				cursor: default
				span
					border-color: transparent
.card
	background: $footer
	width: 100% 
	margin-top: 2rem
	&.is-active
		position: relative
		z-index: 2
		.card__hidden
			display: block
	&__body
		padding: 3rem 5rem 2.4rem
		+r($md)
			padding: 2.2rem 3rem 2rem 4rem
	&__title
		font-size: 2.4rem
		color: $title
		+light
		position: relative
		text-transform: uppercase
		letter-spacing: 0
		line-height: 1
		+r($md)
			font-size: 2.3rem
		+r($sm)
			font-size: 2.2rem
		+r($xxs)
			font-size: 1.8rem
			margin-bottom: 1rem
		&:before
			content: $icon-loc2
			+icon
			font-size: 3rem 
			color: $btn
			position: absolute 
			left: -3.3rem 
			top: 50%
			margin-top: -1.5rem 
			+r($md)
				top: 0
				margin-top: 0
				font-size: 2.1rem
				left: -2.3rem
	&__name
		font-size: 1.5rem
		color: $title
		+r($sm)
			font-size: 1.2rem
	&__list
		li
			font-size: 1.5rem
			line-height: 1.7
			+r($sm)
				font-size: 1.2rem
		&.is-modif
			li				 
				&:before
					content: "-"
					display: inline-block
					vertical-align: middle
					margin-right: .2rem
	&__link
		border-bottom: 1px solid $btn
		color: $btn
		line-height: 1
		font-size: 1.5rem
		margin: 1rem 0 
		display: inline-block
		transition: border-color .3s, color .3s
		+r($sm)
			font-size: 1.2rem
		&:hover
			border-color: transparent
			color: $btn
		&:active
			border-color: darken($btn,10%)
			color: darken($btn,10%)
	&__footer
		border-top: 1px solid white
		.link-btn
			display: block
			padding: 1.3rem 0 1rem 
			text-align: center
			transition: color, background, .3s
			&:hover,
			&.is-active
				color: #fff
				background: $btn  
				span
					color: #fff 
			&.is-active
				span
					font-size: 0
					&:before
						content: "—"
						font-size: 1.3rem
			+r($xs)
				text-align: left 
				padding-left: 2.7rem
	&__hidden
		display: none
.link-btn
	text-transform: uppercase
	display: inline-block
	+reg
	font-size: 1.5rem
	color: $title 
	+r($sm)
		+light
	span
		display: inline-block
		color: $btn
		font-size: 1.5rem
		vertical-align: middle 
		margin-left: .5rem 
.input
	+clr
	margin-bottom: 2rem
	&__title
		position: relative
		margin-top: 1.3rem
		line-height: 1.4rem
		display: block
		+r($sm)
			margin: 0 0 .5rem  
		span
			position: relative
			display: inline
			vertical-align: middle
			font-size: 1.3rem
			+r($xs)
				font-size: 1.2rem
		sub
			position: absolute
			right: -1rem
			bottom: 1rem
			color: $hot 
			font-size: 1.3rem
	&__img
		width: 100%
		overflow: hidden
		height: 4.3rem
		max-width: 16.5rem 
		+cover
		+r($xs)
			height: 3.5rem
		img
			width: 100%
			height: 100%
	&__note
		position: absolute
		top: 100%
		left: 1rem
		color: #6a7287 		
	input
		width: 100%
		height: 4.3rem
		border: 1px solid $item
		padding: 0 1.5rem
		color: $title
		+reg
		font-size: 1.3rem
		transition: border-color .3s
		background: transparent 
		&:focus
			border-color: $btn 
		&::-webkit-calendar-picker-indicator
			background: none 
		+r($sm)
			height: 3.5rem
		+r($xs)
			padding: 0 1rem 
	textarea
		width: 100%
		height: 10.6rem 
		border: 1px solid $item
		padding: 1rem 1.5rem
		line-height: 1.4
		color: $title
		resize: none
		transition: border-color .3s
		background: transparent 
		&:focus
			border-color: $btn 
		+r($sm)
			height: 8.8rem
	&_secondary
		.input__in
			+clr			
			&.is-1
				float: left
				margin-right: 1rem
				width: 15.2rem
				+r($sm)
					width: 12rem
			&.is-2
				overflow: hidden
	&_thirdrate
		margin-bottom: 3rem
		+r($sm)
			margin-bottom: 2rem
		&.input_radio
			.input__title 
				margin-top: 1.3rem
		textarea
			border-color: $form
			height: 13.4rem
			color: $white
			&:focus
				border-color: $white
		input
			height: 3.4rem
			border-color: $form
			color: $white
			&:focus
				border-color: $white
		.input__title 
			color: #fff 
			margin-top: 0.8rem
			+r($xs)
				margin-bottom: 1rem
			sup
				top: -.1em
				display: inline-block
				width: 1.5rem
				color: $required 
				+tahoma
				font-size: 1.3rem
		.select
			&__head
				height: 3.4rem
				border-color: $form
				line-height: 3.4rem
				color: #fff 
				&:after
					+arr(.8,.4,$form,b)
			&__list
				background: #444a58
				border-color: $form
				color: #fff 
			&.is-active
				.select__list,
				.select__head
					border-color: #fff 
	&_collapse
		input
			border: none
			background: #FFF 
		.sssl
			margin-top: 0
			> span
				border: none
				background: #FFF 
				&:after
					+arr(.8,.4,$form,b)
			> ul
				border: none
	&_radio
		.radio
			margin-top: 1.3rem 
	&_btns
		margin-bottom: 0
		.btn
			margin-right: 1rem
.touch
	input, 
	textarea
		font-size: 1.6rem
.radio
	position: relative
	display: inline-block
	cursor: pointer
	vertical-align: middle
	margin-right: 2.9rem
	font-size: 1.3rem
	+r($xs)
		margin-top: .7rem
	&__text
		display: block
		position: relative
		padding-left: 2.8rem
		color: $text
		transition: color .3s
		line-height: 1.3
		+nosel
		&:hover
			color: $btn
			i
				border-color: $btn
		i
			position: absolute
			width: 1.8rem
			height: 1.8rem
			left: 0
			margin-top: -0.9rem
			top: 50%
			border-radius: 50%
			border: 2px solid $item
			transition: border-color .3s
			&:before
				display: none
				content: ""
				position: absolute
				left: 50%
				top: 50%
				margin: -.3rem 0 0 -.3rem
				width: .6rem
				height: .6rem
				border-radius: 50%
				background: $btn
	input
		position: absolute
		opacity: 0
		width: auto
		&:checked
			+ span
				i
					border-color: $btn
					&:before
						display: block
	&_secondary
		margin-right: 1.7rem
		i
			border-color: $form
			width: 1.5rem
			height: 1.5rem
			margin-top: -.75rem 
			&:before
				background: $form
				width: 0.5rem
				height: 0.5rem
				margin: -.25rem 0 0 -.25rem 
		.radio__text
			color: #fff
			&:hover
				color: #fff
				i
					border-color: #fff
		input
			&:checked
				+ span
					i
						border-color: #fff
						&:before
							background: #fff 
.checkbox
	position: relative
	display: inline-block
	cursor: pointer
	vertical-align: middle
	font-size: 1.3rem
	&__text
		display: block
		position: relative
		padding-left: 2.8rem
		color: $text
		transition: color .3s
		line-height: 1.3
		+nosel
		&:hover
			color: $btn
			i
				border-color: $btn
		i
			position: absolute
			width: 1.8rem
			height: 1.8rem
			left: 0
			top: 0
			border: 1px solid $item
			transition: border-color .3s
			&:before
				display: none
				content: $icon-checkpoint
				position: absolute
				left: .2rem
				top: .3rem
				color: $btn 
				font-size: 1rem
				+icon
	input
		position: absolute
		opacity: 0
		width: auto
		&:checked
			+ span
				i
					border-color: $btn
					&:before
						display: block
.checkbox_form
	.checkbox__text
		color: #fff
		&:hover
			i
				border-color: #fff
		i
			border-color: $form  
	input
		&:checked
			+ span
				i
					border-color: #fff
					&:before
						color: #fff 
.form-wrap
	padding-left: 1.5rem 
	margin-bottom: 3rem
	+r($sm)
		padding: 0
	&.is-1
		padding-left: 0
		padding-right: 1.5rem 
		+r($sm)
		padding: 0
	
.touch
	.select
		&.is-active
			&__list
				display: none
		select
			top: 0
			left: 0
			min-width: 100%
			min-height: 100%
			z-index: 3
.select
	position: relative
	margin-bottom: 1rem
	font-size: 1.3rem
	color: $title 
	&:last-child
		margin-bottom: 0
	select
		opacity: 0
		position: absolute
	&.is-active
		.select__list
			display: block
			border-color: $btn
		.select__head
			border-color: $btn 
	&__head
		position: relative
		display: block
		cursor: pointer
		padding: 0 5.5rem 0 1.5rem 
		height: 4.3rem
		line-height: 4.3rem
		border: 1px solid $item
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		color: $title
		+r($sm)
			height: 3.5rem
			line-height: 3.5rem
		&:after
			content: ""
			position: absolute
			right: 1.7rem
			top: 50%
			margin-top: -.2rem
			width: 0px
			height: 0px
			+arr(.8,.4,$item,b)
	&__list
		position: absolute
		display: none
		left: 0
		right: 0
		top: 100%
		z-index: 100
		border: 1px solid $item
		border-top: 0 
		padding: 0
		margin: 0
		max-height: 200px
		overflow-x: hidden
		overflow-y: auto
		background: #fff
		list-style-type: none
		li
			padding: 1rem 1.5rem 
			cursor: pointer
			line-height: 1
			&:hover,
			&.is-active
				background: $btn
				color: #fff
.news
	margin-bottom: 2rem
	&__img
		display: block
		height: 17rem
		overflow: hidden
		margin-bottom: 1.4rem
		+r($xs)
			margin-bottom: 1rem
		img
			width: 100%
			height: auto
	&__title
		display: block
		line-height: 1.8
		margin: 0.7rem 0 1rem
		+r($xs)
			line-height: 1.7
			margin: .4rem 0 1rem
		span
			border-bottom: 1px solid $title
			color: $title
			transition: border-color, color, .3s
			font-size: 1.6rem
			+r($xs)
				font-size: 1.3rem
		&:hover
			span
				border-color: transparent
		&:active
			span
				border-color: transparent
				color: $btn

		 
.meta
	color: $meta
	font-size: 1.1rem 
	+r($xs)
		font-size: 1rem
.list
	li
		text-transform: uppercase
		font-size: 1.4rem
		margin-bottom: 1rem
		+light
		color: $title
		+r($sm)
			font-size: 1.2rem
			letter-spacing: 0
			line-height: 1.5rem
		+r($xs)
			font-size: 1.5rem
		+r($xxs)
			font-size: 1.2rem
			margin-bottom: 0.7rem
	&_inner
		margin-top: 2rem
		li
			color: $text
			text-transform: none 
			+tahoma
			font-size: 1.3rem
			+r($xs)
				font-size: 1.1rem
			&:before
				content: ""
				height: 1px
				width: 1rem
				display: inline-block
				vertical-align: middle
				background: $btn 
				margin-right: 1rem
.form
	background: $map
	position: absolute
	width: 100%
	top: -3rem
	padding: 3rem 
	z-index: 2
	+r($sm)
		padding: 2rem
	+r($xs)
		display: none
	&.is-active
		display: block
		position: static 
	.name
		color: #FFF 
		margin-top: 0
		margin-bottom: 2.8rem
		+r($sm)
			margin-bottom: 1rem
.form_service
	position: absolute
	top: -4.5rem
	right: 0
	left: 0
	+r($sm)
		display: none
		top: 0
		width: auto
		padding: 2rem 1rem 
		margin: 2.5rem -1rem 0 -1rem 
	.input__title
		white-space: nowrap
	&:before
		content: ""
		position: absolute
		right: -200rem
		top: 0
		bottom: 0
		width: 200rem
		background: $map 
		+r(1200)
			width: 2rem
			right: -2rem
.btn-expand
	display: none
	width: 100%
	padding: 2.3rem 1.5rem 1.9rem
	background: $btn
	line-height: 1
	color: #FFF
	text-transform: uppercase 
	text-align: left
	transition: background .3s
	font-size: 1.8rem	
	+light  
	&:active
		background: darken($btn, 10%) 
	+r($xs)
		display: block
	+r($xxs)
		font-size: 1.5rem
.btn-expand_mod
	+r($sm)
		display: block
		width: calc(100% + 2rem)
		margin: 3rem -1rem -2.5rem 

.previews
	margin-top: 3.5rem
	+r(767)
		font-size: 0
		margin-top: 0
	button
		display: block
		position: relative 
		width: 100%
		background: none 
		padding: 1rem .6rem 1rem 0
		+r(767)
			width: 33.2%
			display: inline-block
			vertical-align: top
		img
			display: block
			width: 100%
			height: auto
		&:hover,
		&.is-active
			.previews__title
				opacity: 1
		&.is-active
			.previews__title
				&:after
					display: block
	&__title
		position: absolute
		top: 1rem
		left: 0
		right: .6rem
		bottom: 1rem
		background: rgba($btn, .8)
		+light  
		+vertical
		text-align: center
		opacity: 0
		+tr(opacity .3s)
		+r($xs)
			padding: 0 .5rem 

		&:after
			content: ""
			display: none
			position: absolute
			right: -.6rem
			top: 50%
			margin-top: -1.3rem
			+arr(.6,2.6,rgba($btn,.8),r)
			+r(767)
				+arr(2.6,.6,rgba($btn,.8),t)
				left: 50%
				top: -.6rem
				margin: 0 0 0 -1.3rem 

		span
			display: inline-block
			vertical-align: middle
			color: #fff
			font-size: 1.5rem
			text-transform: uppercase
			+r($xs)
				font-size: 1rem
.crsl-main
	margin-top: -4.5rem
	+r($xs)
		margin: 0 -1rem 0
	img
		max-height: 51.6rem
.crsl-details
	overflow: hidden 
	margin: 2.3rem 0 0
	padding-bottom: 1.5rem
	text-align: center
	+tr(opacity .3s)
	opacity: 1
	&.is-inactive
		opacity: 0
	.slick-list
		margin: 0 -1rem 
	.slick-slide
		padding: 0 1rem 
		&:hover
			img
				transform: scale(1.1)
		img
			+tr(transform .5s)
	.slick-arrow
		&.slick-disabled
			opacity: 0.2
			pointer-events: none
			cursor: default
	.slick-prev
		left: 50%
		margin-left: -8%
		+r($md)
			left: 0
			margin: 0
	.slick-next
		right: 50%
		margin-right: -8%
		+r($md)
			right: 0
			margin: 0
	.slick-dots
		margin: 3.6rem 0 0 
.figure
	overflow: hidden
	position: relative
	img
		display: block
		width: 100%
	figcaption
		position: relative
		z-index: 2
		padding: 1.3rem 
		text-align: center
		+med
		font-size: 1.6rem
		color: #fff 
		background: #292c31
.img-markers
	.btn-circle
		position: absolute
		+r($sm)
			display: none
	img
		+r($sm)
			width: 100%
.post-info-wrap
	margin-top: -2.3rem
.post-info
	margin-top: 2.3rem
	.subtitle
		margin: -.7rem 0 1.5rem
		+r($sm)	
			margin-top: 1rem
.video-inner
	position: relative
	+r($xs)
		margin-top: 2rem
	+r($xxs)
		margin-top: 1rem
	&__play
		position: absolute
		left: 50%
		top: 50%
		transform: translate3d(-50%, -50%, 0)
		height: 6.6rem
		width: 6.6rem
		background: $btn
		border-radius: 50%
		color: #fff
		font-size: 2.6rem
		transition: background .3s
		&:hover
			background: $btn-hover
		&:active
			background: darken($btn,10%) 
		i
			position: absolute
			left: 2.4rem
			top: 50%
			+icon
			transform: translate3d(0, -50%, 0)
	&__holder
		position: relative
		&:after
			content: ""
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background: rgba(#000,.7)
		img
			display: block
			width: 100%
	+ .text
		margin-top: 2rem
		+r($xs)
			margin-top: 1rem
			  
	
$car-white: #ecece9
$car-black: #09090b
$car-silver: #bcbfc3
$car-iceblue: #809aa5
$car-red: #c32127
$car-gray: #6e707f
$car-blue: #102a4b
$car-brown: #775642
$car-beige: #ede6d6
.color
	font-size: 0
	+r($sm)
		margin-top: 4rem
	&__item
		display: inline-block
		vertical-align: top
		width: 49.7%
		&.active
			.color-circle
				box-shadow: 0 0 0 .3rem $btn 
	&__btn
		display: inline-block
		margin-bottom: 2.4rem
		padding-right: 2%
		width: 49.8%
		color: $text
		font-size: 1.4rem
		+tr(color .3s)
		background: none
		text-align: left 
		+light
		text-transform: uppercase
		+r($md)	
			font-size: 1.2rem
		+r($xs)
			font-size: 1.1rem
		&:hover
			color: $btn 
		&.is-active
			.color-circle
				box-shadow: 0 0 0 .3rem $btn 
	.color-circle
		margin-right: .8rem
	&_width
		+r($sm)
			margin-top: 0
		.color__btn
			display: block
			width: 100%
	&_small-sm
		+r($sm)
			.color__btn
				display: inline-block
				width: 49.8%
.color-circle
	position: relative
	display: inline-block
	vertical-align: middle
	border: .5rem solid #fff
	width: 5.8rem
	height: 5.8rem
	border-radius: 50% 
	+tr(box-shadow .3s)
	+r($md)	
		width: 5rem
		height: 5rem
	+r($xs)
		width: 3rem
		height: 3rem
		border-width: .2rem 
	&.is-white
		background: $car-white
	&.is-black
		background: $car-black
	&.is-silver
		background: $car-silver
	&.is-iceblue
		background: $car-iceblue
	&.is-red
		background: $car-red
	&.is-gray
		background: $car-gray
	&.is-blue
		background: $car-blue
	&.is-brown
		background: $car-brown
	&.is-beige
		background: $car-beige
	span
		position: absolute
		top: 50%
		bottom: 0
		left: 0
		right: 0
		overflow: hidden
		&:before
			content: ""
			position: absolute
			top: -100%
			bottom: 0
			right: 0
			left: 0
			border-radius: 50% 
			background: $car-black 
	&.is-white-half
		span
			&:before
				background: $car-white 
	&.is-black-half
		span
			&:before
				background: $car-black 
	&.is-silver-half
		span
			&:before
				background: $car-silver 
	&.is-iceblue-half
		span
			&:before
				background: $car-iceblue 
	&.is-red-half
		span
			&:before
				background: $car-red  
	&.is-gray-half
		span
			&:before
				background: $car-gray 
	&.is-blue-half
		span
			&:before
				background: $car-blue 
	&.is-brown-half
		span
			&:before
				background: $car-brown 
	&.is-baige-half
		span
			&:before
				background: $car-beige
.icon-rotate
	position: absolute
	bottom: 3rem
	left: 50%
	transform: translateX(-50%)
	font-size: 3rem	
	color: $btn
	pointer-events: none 
	+r($sm)
		bottom: 0
.threesixty
	margin-top: -5rem
	+r($sm)
		padding-bottom: 7rem
	.btn-nav
		position: absolute
		bottom: 3rem
		right: 0
		margin: 0
		+r($sm)
			bottom: 0
		&.is-prev
			right: auto
			left: 0

.touch			
	.flash-content
		display: none
.panorama
	margin-top: 2rem
	+r($md)
		margin-bottom: 5rem
	> object
		width: 100%
		+rm(1700)
			height: 400px
		+rm(1900)
			height: 500px
		+rm(2500)
			height: 600px
		+r($md)
			height: 60vh
	.icon-rotate
		+r($md)
			bottom: 0rem
.crsl-cars
	position: relative
	z-index: 1
	margin: 0 0 2.5rem 
	.btn-nav
		position: absolute
		bottom: 0
		right: 0
		z-index: 2
		margin: 0
		&.is-prev
			right: auto
			left: 0
	img
		+r($md)
			margin: 0 auto 
			max-width: 100%

.hidden-content
	display: none
	&.is-active
		display: block
.collapse-custom
	display: none
	&.is-active
		display: block
.collapse, 
.collapse-custom
	background: $footer
	margin-bottom: 3rem
	padding: 3rem 0 0 
	+r($xs)
		margin: 0 -2rem
		background: $footer
		padding: 3rem 2rem 0
	&_mod
		padding-top: 0
		margin-bottom: 0
	&.with-padding
		padding: 3rem 4rem
		+r($sm)
			padding: 3rem 
		+r($xs)
			padding: 3rem 2rem 
	&.with-nopad
		padding: 0
	.search-in
		margin: 0 0 3rem
		+r($xs)
			margin: 0 0 2rem 
		input
			background: #FFF
	.search-in__btn
		background: #FFF 	
	.map
		height: 54rem
		margin: 0 -4rem -3rem 0	
		+r($xs)
			height: auto
			margin: 0
		&__body
			+r($xs)
				height: 42rem
				margin: 0 -1rem -3rem
	.card__body
		padding: 0 0 0 4rem	
		+r($xs)
			padding-left: 3.5rem 
			margin-bottom: 1.5rem
	.card
		margin-top: 0
	.btn
		font-size: 1.6rem
.collapsed
	&.btn_collapse
		i
			+rotate(90)
.checkpoint
	+clr
	margin-bottom: 1.3rem
	&__text
		display: block
		position: relative
		padding-left: 2.3rem
		color: $text
		transition: color .3s
		line-height: 1.3
		+nosel
		&:hover
			color: $btn
			i
				border-color: $btn
		i
			position: absolute
			width: 1.5rem
			height: 1.5rem
			left: 0
			border: 1px solid $item
			background: #FFF 
			transition: border-color .3s
			&:before
				display: none
				content: $icon-checkpoint
				+icon
				position: absolute
				bottom: 0.2rem
				left: 0.1rem
				font-size: 1.3rem
				color: $btn
	input
		position: absolute
		opacity: 0
		width: auto
		&:checked
			+ span
				i
					&:before
						display: block
.checklist
	display: table 
	width: 100%
	+r($xs)
		display: block
	&__item
		display: table-cell 
		position: relative
		text-align: center
		border-left: 1px solid #fff
		padding: 3rem 2rem 
		cursor: pointer
		+r($xs)
			display: block
			border-left: none
			border-top: 1px solid #fff  
		&:first-child
			border: none	
		input
			position: absolute
			opacity: 0
			display: block
			height: 100%
			width: 100%
			top: 0
			z-index: 3
			cursor: pointer
			&:checked
				+ span
					opacity: 1
					visibility: visible
					&:before
						opacity: 1
						visibility: visible 
	&__text
		+med
		font-size: 1.6rem
		text-transform: uppercase
		color: $title  
		position: relative
		z-index: 2
	&__bg
		opacity: 0
		transition: opacity .3s
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		background: #F6F8FC
		visibility: hidden 
		&:before
			content: $icon-checkpoint
			visibility: hidden 
			position: absolute
			bottom: 1.3rem
			right: 1.5rem
			+icon
			font-size: 1.8rem
			color: $btn  
			opacity: 0
			transition: opacity .3s 
	&__img
		margin: 0 auto
		max-width: 15.6rem
		position: relative
		z-index: 2
		img
			width: 100%
			height: auto

.crsl-wall
	overflow: hidden
	padding-bottom: 4.3rem
	opacity: 0
	+tr(opacity .3s)
	.slick-list
		margin: 0 -1rem 
	.wall
		padding: 0 1rem 1.3rem 1rem
	&.is-ready
		opacity: 1
.wall
	&__img
		display: block
		margin-bottom: 1rem
		position: relative
		overflow: hidden
		border: 3px solid #fff
		height: 19.5rem
		+r(960)
			height: 16rem
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 0
			top: 0
			background: rgba($btn, .9) 
			opacity: 0
			+tr(opacity .3s)
		&:hover
			&:after,
			span
				opacity: 1
		img
			display: block
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto
		span
			position: absolute
			top: 50%
			left: 50%
			transform: translate3d(-50%,-50%,0)
			width: 1px
			height: 2.5rem
			background: #fff
			z-index: 2
			opacity: 0
			+tr(opacity .3s)
			&:before
				content: ""
				position: absolute
				top: 50%
				left: -1.2rem
				height: 1px
				width: 2.5rem
				background: #fff  
	&__caption
		font-size: 1.3rem
		+tahoma
		color: #fff
		line-height: 2.3
		span
			display: block
			+text-overflow
		a
			display: block
			color: #fff
			text-decoration: underline
			font-size: 1.5rem
			+text-overflow
			&:hover
				text-decoration: none
.crsl-video
	+r($sm)
		padding: 2rem 0 3.5rem
.embed
	position: relative
	padding-bottom: 56.25%
	height: 0
	overflow: hidden
	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
.crsl-video-nav
	overflow: hidden
	padding: 2rem 0 6.3rem
	+r($sm)
		padding: 2rem 0 3.5rem
	.slick-list
		margin: 0 -1rem 
	.slick-slide
		padding: 0 1rem
		&.is-active
			.video-preview__img
				&:before
					display: none
	.slick-arrow
		position: absolute
		bottom: 0
		right: 0
		margin: 0
		&.is-prev
			right: auto
			left: 0
		&.slick-disabled
			opacity: 0.2
			pointer-events: none
			cursor: default
	.slick-dots
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 3.7rem
		line-height: 3.7rem
		text-align: center
		button
			background: $footer 
.video-preview
	cursor: pointer
	&:hover
		.video-preview__img
			&:after
				opacity: 1
		.video-preview__title
			text-decoration: none
	&__img
		position: relative
		height: 11rem
		margin-bottom: 0.6rem
		overflow: hidden
		+r(960)
			height: 15.5rem
		+r(767)
			height: 11rem
		+r(480)
			height: 8rem
		&:before
			content: ""
			position: absolute 
			top: 0
			right: 0
			bottom: 0
			left: 0
			background: rgba($btn-dark, .7) 
		&:after
			content: ""
			position: absolute
			left: 50%
			top: 50%
			transform: translate3d(-50%,-50%,0) 
			opacity: .5
			+sr(play)
			+tr(opacity .3s)
		img
			display: block
			height: 100%
			width: auto
			+r(1024)
				width: 100%
				height: auto
	&__title
		text-decoration: underline
		font-size: 1.3rem
		line-height: 1.5
		+tahoma
		color: $btn-dark 
.crsl-news
	overflow: hidden
	padding: 0 0 6.3rem
	+r($sm)
		padding: 2rem 0 3.5rem
		margin-bottom: 2.5rem
	.slick-dots
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 3.7rem
		line-height: 3.7rem
		text-align: center
	.slick-list
		margin: 0 -1rem 
	.slick-slide
		padding: 0 1rem
	.slick-arrow
		position: absolute
		bottom: 0
		right: 0
		margin: 0
		&.is-prev
			right: auto
			left: 0
		&.slick-disabled
			opacity: 0.2
			pointer-events: none
			cursor: default
	.news
		&__img
			+r($xs)
				height: auto
.car-view
	position: relative
	margin-bottom: 5.2rem
	+r($xs)
		margin-bottom: 7rem
	&__in
		display: inline-block
		position: relative
		max-width: 100%
	img
		display: block
		max-width: 100%
	&_small
		+r($xs)
		margin-bottom: 3rem
		.car-view__in
			max-width: 75%
		.line_inside
			+r($xs)
				bottom: -2.2rem
	&_left
		text-align: left
		+r($sm)
			text-align: center
	&_middle
		text-align: center
	&_right
		text-align: center
.line
	position: absolute
	background: $btn 
	&:before,
	&:after
		position: absolute
		bottom: 0
		content: "" 
		background: $btn 
	&_hor
		height: 1px
		left: 0
		right: 0
		bottom: -2.4rem
		&:before,
		&:after
			bottom: 0
			height: 6.3rem
			width: 1px
		&:before
			left: 0
		&:after
			right: 0
		span
			position: absolute
			top: .5rem
			left: 50%
			white-space: nowrap
			transform: translateX(-50%)
	&_inside
		bottom: -1.2rem
		&:before,
		&:after
			height: 2rem
			+r($xs)
				height: 2.5rem
		span
			top: -2rem
			+r($xs)
				top: -1.6rem
	&_ver
		right: -2rem
		top: 0
		bottom: 0
		width: 1px
		&:before,
		&:after
			height: 1px
			width: 2rem
			left: -2rem
		&:before
			top: 0
		&:after
			bottom: 0
		span
			position: absolute
			top: 50%
			left: 1rem
			white-space: nowrap
			transform: translateY(-50%)
			+r($xs)
				transform: translate3d(-90%,0,0) rotate(-90deg)
.table
	width: 100%
	color: $title 
	font-size: 1.3rem
	+tahoma
	+r($xs)
		margin: 0 -1rem
		width: calc(100% + 2rem)  
	th
		padding: .8rem 0 
		font-size: 2rem
		+light
		text-transform: uppercase
		font-weight: normal
		text-align: left
		+r($xs)
			font-size: 1.6rem
			padding-left: 1.5rem
	tbody
		background: $table
	td
		bottom: 100% 
		border: 1px solid #fff
		padding: 1.2rem 2rem 
		vertical-align: middle
		width: 79%
		+r($xs)
			padding: 1.2rem 1rem 
			width: 65%
		+r($xxs)
			width: 50%
		&:first-child
			width: 21%
			+r($xs)
				width: 35%
			+r($xxs)
				width: 50%
.table_no-bg
	tbody
		background: none
.table_header
	margin: 3rem 0 0 
	thead
		background: $btn
	th
		border: 1px solid #fff
		border-bottom: 0
		text-align: center
		padding: 1.3rem 0 
		+bold
		font-size: 1.6rem
		color: #fff
		+r($sm)
			font-size: 1.1rem
		&:first-child
			text-align: left
			padding-left: 2rem
			+r($xs)
				padding-left: 1rem 
	td
		border-top: 0
		padding: .9rem 1rem 
		font-size: 1.5rem
		+bold
		color: $hot
		text-transform: uppercase
		+r($sm)
			font-size: 1.1rem
.table_total
	td
		width: 11%
		text-align: center
		&:first-child
			color: $title 
			padding-left: 2rem
			text-align: left
			width: 32%
			+r($xs)
				padding-left: 1rem
.table_extend
	.icon-checkpoint
		vertical-align: middle
		color: #888e9a 
		font-size: 1.6rem
		+r($sm)
			font-size: 1.3rem
.table_summary
	font-size: 1.2rem
	text-transform: uppercase
	+bold
	td
		color: $hot 
		&:first-child
			color: $title
.fact
	color: $btn
	font-size: 10rem
	+light
	line-height: 1
	+r($sm)
		font-size: 7rem
	+r($xs)
		font-size: 4rem
	sub
		font-size: 5rem
		vertical-align: baseline
		color: $btn 
		line-height: 1
		bottom: 0
		text-transform: uppercase
		+r($sm)
			font-size: 3rem
		+r($xs)
			font-size: 2rem
.bg-half-space
	position: absolute
	right: 0
	width: 50%
	top: 0
	bottom: 0
	z-index: 0
	overflow: hidden
	picture, img
		display: block
		min-width: 100%
		min-height: 100%
		height: auto
		width: auto
		opacity: .3
		+rm(1400)
			position: absolute
			top: 50%
			left: 0
			width: 100%
			height: auto
			transform: translate3d(0,-50%,0)
.masonry-wrap
	margin: 2rem -1rem 
.masonry-sizer
	width: 33.3%
	width: calc(100% / 3)
	+r($sm)
		width: 50%
	+r($xs)
		width: 100%
.masonry-item
	width: 33.3%
	width: calc(100% / 3)
	+r($sm)
		width: 50%
	+r($xs)
		width: 100%
	.card
		width: auto
		overflow: hidden
		margin: 0 1rem 2rem