.menu-mob
	position: fixed
	left: 0
	top: 0
	bottom: 0
	width: 32rem
	overflow-y: auto
	z-index: 5
	background: $header 
	transform: translateX(-32rem)
	transition: transform .3s
	+r(380)
		width: 26.7rem
		transform: translateX(-26.7rem)
	&__list
		position: relative
	&__link
		display: block
		padding: 1rem 1.5rem
		font-size: 2rem
		color: $title
		+reg
		+r(380)

			font-size: 1.6rem
	&__extend
		+clr
		margin-bottom: .7rem
	.prod
		width: 50%
		margin-bottom: -1px
		border-top: 1px solid
		border-color: #c5c5c5
		&:nth-child(2n)
			border-right: 0
		&__title
			font-size: 1.8rem
			+r(380)
				font-size: 1.3rem
		&__info
			font-size: 1rem
		&__img
			padding: 0.5rem 
			img
				max-height: 100%
		&__img-front,
		&__img-back
			height: 6.2rem
			line-height: 6.2rem