.crsl-overview
	text-align: center
	visibility: hidden 
	opacity: 0
	+r($sm)
		margin-top: 1.5rem
	&.is-ready
		visibility: visible
		opacity: 1 
	&__img
		height: 45rem
		width: auto 
		text-align: center
		display: inline-block
		margin-bottom: -0.7rem
		+r($sm)
			height: 30rem 
		+r($xs)
			height: 22.9rem
		img
			height: 100%
			width: auto
			+tr(transform .5s)
			&:hover
				transform: scale(1.1)
.crsl-overview-nav
	visibility: hidden 
	opacity: 0
	&.is-ready
		visibility: visible
		opacity: 1
	&__img
		height: 8.6rem 
		width: 13.5rem
		overflow: hidden
		position: relative
		cursor: pointer
		+r($md)
			width: auto
		&:after
			content: ""
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0 
			transition: opacity .3s
			opacity: 0
			visibility: hidden
			background: $btn
		&:before
			content: $icon-plus
			font-size: 1.8rem
			color: transparent
			position: absolute
			+icon
			z-index: 2
			top: 50%
			left: 50%
			margin-top: -.9rem
			margin-left: -.9rem 
			transition: color .3s
			+r($xs)
				font-size: 0.9rem
				margin: -.45rem 0 0 -.45rem 
			
		img
			width: 100%
			height: auto  
	.slick-current
		.crsl-overview-nav__img
			&:after
				opacity: .9
				visibility: visible  
			&:before
				color: white 
	.slick-next,
	.slick-prev
		display: none !important

.history
	position: relative
	
	+r($xs)
		padding-top: 2em
		background: #4d4d4e 
		 
.crsl-history
	position: relative
	background: #4d4d4e
	+r($xs)
		margin-top: 6rem
	.slick-slider
		visibility: hidden 
		opacity: 0
		&.is-ready
			visibility: visible
			opacity: 1
	&__slide
		position: relative
		padding-bottom: 7rem
		min-height: 49rem 
		+r($md)
			min-height: 42rem
		+r($xs)
			padding-bottom: 0
			min-height: 1rem
	&__item
		//width: 41%
		padding: 4.5rem 0 5rem  
		.name
			color: white 
			margin: 0 0 2.2rem 0
		.title
			margin-bottom: 1.9rem
			+r($md)
				margin-bottom: 0
			+r($xs)
				display: none
		.archive
			+r($xs)
				display: none
	&__img
		right: 0
		position: absolute
		top: 0
		bottom: 0
		overflow: hidden
		left: 44%
		+rm(1400)
			left: 45%
		+rm(1800)
			left: 48%
		+r($sm)
			left: 50%
		+r($xs)
			position: static
		img, picture
			display: block
			min-width: 100%
			min-height: 100%
			height: auto
			width: auto
			+r($xs)
				width: 100%
				height: auto
				min-width: 0
				min-height: 0
	&__nav
		position: absolute
		bottom: 5rem
		left: 0
		right: 0
		text-align: left
		z-index: 3
		font-size: 0
		.btn-nav
			margin: 0 1rem 0 0
		+r($xs)
			bottom: auto
			top: -1rem 
	.slick-disabled
		background: #838383 
		cursor: default
		&:hover
			background: #838383
			&:before
				color: $arr
		&:active
			background: #838383 
			&:before
				color: $arr
.archive
	+archive
	margin-bottom: 2.5rem
	font-size: 3.3rem
	color: white 
	+r($md)
		margin-bottom: 0
.crsl-history-nav
	background: $btn
	font-size: 0
	+r($xs)
		position: absolute
		top: 4rem
		left: -1rem
		right: -1rem
		background: none 
	.slick
		visibility: hidden 
		opacity: 0
		&.is-ready
			visibility: visible
			opacity: 1
	.slick-next,
	.slick-prev
		display: none !important
	.slick-list
		margin: -.5rem -1rem 0
		padding-top: 0.5rem
	&__item
		color: #fff
		display: inline-block
		position: relative
		cursor: pointer
		+reg
		font-size: 1.5rem
		padding: 1.6rem 1.8rem 1.2rem 
		border: 3px solid transparent
		transition: border-color .3s
		+r($xs)
			+archive
			font-size: 2.6rem
			border: 0
			color: #838383 
		&:before
			content: ""
			position: absolute
			+arr(.8,.5,white,t) 
			left: 50%
			margin-left: -0.4rem
			top: -0.7rem
			opacity: 0 
			transition: opacity .3s 
			+r($xs)
				display: none
	.slick-current
		.crsl-history-nav__item
			border-color: white !important
			+r($xs)
				border: 0
				color: #fff 
			&:before
				opacity: 1
.crsl-info
	&__in
		padding-bottom: 3rem 
		position: relative
		+r($sm)
			padding-bottom: 7rem
		&:after
			content: ""
			position: absolute
			right: 0
			left: 0
			height: 1px
			bottom: 0
			background: $footer 
			+r($sm)
				display: none
	.img
		+r($sm)
			margin-bottom: 2rem
		img
			&:hover
				transform: none
	.title
		margin-bottom: 1.5rem
		+r($sm)
			margin-bottom: 1rem
	.name
		margin: 0 0 1.5rem
		+r($sm)
			margin-bottom: 1rem
	.slick-arrow
		bottom: 0
		position: absolute
		z-index: 2 
		transition: opacity .3s
	.slick-disabled
		opacity: 0.2
		&:hover
			cursor: default
			background: $btn
			opacity: 0.2 
		&:active
			background: $btn
			opacity: 0.2 

	.btn-nav
		left: 4.1rem
		+r($sm)
			right: 0
			left: auto
			margin: 0
		&.is-prev
			left: 0
			+r($sm)
				right: auto 
	.slick-dots
		left: 11rem
		position: absolute
		bottom: 1.1rem
		z-index: 2 
		+r($sm)
			left: 0
			right: 0
			text-align: center
		button
			background: $footer 
	&_opposite
		.btn-nav
			right: 0
			left: auto
			&.is-prev
				right: 4.1rem
				left: auto
				+r($sm)
					right: auto
					left: 0
		.slick-dots
			right: 11rem
			left: auto
			+r($sm)
				left: 0
				right: 0
				text-align: center
			

		