$preloader-default: $header
$preloader-active: $btn
@keyframes preloader
	0%
		background: $preloader-default
		box-shadow: 0 0 0 0 $preloader-default
	50%
		background: $preloader-active
		box-shadow: 0 0 0 3px $preloader-active
	100%
		background: $preloader-default
		box-shadow: 0 0 0 0 $preloader-default
.preloader
	text-align: center
	font-size: 0
	span
		display: inline-block
		position: relative
		vertical-align: middle
		width: 12px
		height: 12px
		line-height: 12px
		&:before
			content: ""
			display: inline-block
			vertical-align: middle
			width: 6px
			height: 6px
			border-radius: 50%
		&:first-child
			&:before
				animation: preloader .6s linear infinite
		&:nth-child(2)	
			&:before
				animation: preloader .6s linear infinite .2s
		&:nth-child(3)	
			&:before
				animation: preloader .6s linear infinite .4s 


	 
		

			