$btn: #4276ec
$btn-hover: #6892f0
$btn-nav: #2953b3
$white: #fefeff
$btn-dark: #25272c
$hot: #f82828
$hot-hover: #be0808
$block: #989ca9
$block-dark: #545b6c
$arr: #66686c
$title: #252629
$text: #737476
$footer: #e6e8ec
$header: #edeef0
$logo: #011b58
$text-dark: #5c5e63
$menu: #dbdde1
$form: #5e6578
$block-light: #e5e7ee
$item: #989ca9
$meta: #959799
$table: #e6e9ec
$fb: #5593cf
$tw: #1ab2e8
$gp: #ba2a2a
$md: 1200
$sm: 992
$xs: 762
$xxs: 373
$map: #444a58
$required: #ffba00
+font(PragmaticaBook-Reg,PragmaticaBook-Reg)
+font(PragmaticaLight,PragmaticaLight)
+font(PragmaticaMedium,PragmaticaMedium)
+font(PragmaticaBold,PragmaticaBold)
+font(PragmaticaItalic,PragmaticaItalic)
+font(archive,archive)

=reg
	font-family: 'PragmaticaBook-Reg', sans-serif
=light 
	font-family: 'PragmaticaLight', sans-serif
=med
	font-family: 'PragmaticaMedium', sans-serif
=bold
	font-family:  'PragmaticaBold', sans-serif
=italic
	font-family: 'PragmaticaItalic',sans-serif 	
=archive
	font-family: 'archive', sans-serif 
=tahoma
	font-family: Tahoma, Arial, sans-serif
=icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

