@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-android: "\EA01"
$icon-apple: "\EA02"
$icon-arr: "\EA03"
$icon-search: "\EA05"
$icon-car: "\EA06"
$icon-cell: "\EA07"
$icon-hands: "\EA08"
$icon-loc: "\EA09"
$icon-rotate: "\EA0A"
$icon-fb: "\EA10"
$icon-gp: "\EA11"
$icon-tw: "\EA12"
$icon-yt: "\EA13"
$icon-list: "\EA14"
$icon-check: "\EA15"
$icon-scheme: "\EA16"
$icon-love: "\EA17"
$icon-plus: "\EA18"
$icon-planet: "\EA19"
$icon-comment: "\EA20"
$icon-loc2: "\EA21"
$icon-play: "\EA22"
$icon-checkpoint: "\EA23"
$icon-shell: "\EA24"
$icon-speed: "\EA25"
$icon-oil: "\EA26"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-android:before
	content: $icon-android
.icon-apple:before
	content: $icon-apple
.icon-arr:before
	content: $icon-arr
.icon-search:before
	content: $icon-search
.icon-car:before
	content: $icon-car
.icon-cell:before
	content: $icon-cell
.icon-hands:before
	content: $icon-hands
.icon-loc:before
	content: $icon-loc
.icon-rotate:before
	content: $icon-rotate
.icon-fb:before
	content: $icon-fb
.icon-gp:before
	content: $icon-gp
.icon-tw:before
	content: $icon-tw
.icon-yt:before
	content: $icon-yt
.icon-list:before
	content: $icon-list
.icon-check:before
	content: $icon-check
.icon-scheme:before
	content: $icon-scheme
.icon-love:before
	content: $icon-love
.icon-plus:before
	content: $icon-plus
.icon-planet:before
	content: $icon-planet
.icon-comment:before
	content: $icon-comment
.icon-loc2:before
	content: $icon-loc2
.icon-play:before
	content: $icon-play
.icon-checkpoint:before
	content: $icon-checkpoint
.icon-shell:before
	content: $icon-shell
.icon-speed:before
	content: $icon-speed
.icon-oil:before
	content: $icon-oil