<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="footer__top">
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
					<a href="#" class="link-name">
						Vehicles
					</a>
					<ul class="links">
						<li>
							<a href="#">
								Tivoli
							</a>
						</li>
						<li>
							<a href="#">
								Korando
							</a>
						</li>
						<li>
							<a href="#">
								Rexton
							</a>
						</li>
						<li>
							<a href="#">
								Rodius
							</a>
						</li>
						<li>
							<a href="#">
								Actyon Sports
							</a>
						</li>
						<li>
							<a href="#">
								Buils Your Own
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
					<a href="#" class="link-name">
						Why Ssang Yong
					</a>
					<ul class="links">
						<li>
							<a href="#">
								Overview
							</a>
						</li>
						<li>
							<a href="#">
								Quality
							</a>
						</li>
						<li>
							<a href="#">
								Technology
							</a>
						</li>
						<li>
							<a href="#">
								Performance
							</a>
						</li>
						<li>
							<a href="#">
								Design
							</a>
						</li>
						<li>
							<a href="#">
								Safety
							</a>
						</li>
						<li>
							<a href="#">
								Environment
							</a>
						</li>
						<li>
							<a href="#">
								Built in Korea
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
					<a href="#" class="link-name">
						Owners
					</a>
					<ul class="links">
						<li>
							<a href="#">
								Service center
							</a>
						</li>
						<li>
							<a href="#">
								After sales
							</a>
						</li>
						<li>
							<a href="#">
								Inspection
							</a>
						</li>
						<li>
							<a href="#">
								Maintenance
							</a>
						</li>
						<li>
							<a href="#">
								Warranty
							</a>
						</li>
						<li>
							<a href="#">
								MyApp
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
					<a href="#" class="link-name">
						About Ssang Yong
					</a>
					<ul class="links">
						<li>
							<a href="#">
								History
							</a>
						</li>
						<li>
							<a href="#">
								Brand
							</a>
						</li>
						<li>
							<a href="#">
								Philosophy
							</a>
						</li>
						<li>
							<a href="#">
								CSR
							</a>
						</li>
						<li>
							<a href="#">
								Location
							</a>
						</li>
						<li>
							<a href="#">
								Concept cars
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
					<a href="#" class="link-name">
						About Arabiat
					</a>
					<ul class="links">
						<li>
							<a href="#">
								Company
							</a>
						</li>
						<li>
							<a href="#">
								CEO Message
							</a>
						</li>
						<li>
							<a href="#">
								Service center 
							</a>
						</li>
						<li>
							<a href="#">
								Careers
							</a>
						</li>
						<li>
							<a href="#">
								News
							</a>
						</li>
						<li>
							<a href="#">
								Contact us
							</a>
						</li>
						<li>
							<a href="#">
								Take a Test Drive
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
					<a href="#" class="link-name">
						Dealers
					</a>
					<ul class="links">
						<li>
							<a href="#">
								Distributors
							</a>
						</li>
						<li>
							<a href="#">
								Become a distributor
							</a>
						</li>
						<li>
							<a href="#">
								Request a Broshures
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-xs-6 hidden-lg hidden-md">
					<ul class="links ">
						<li>
							<a href="#">
								Why Ssang Yong
							</a>
						</li>
						<li>
							<a href="#">
								Owners
							</a>
						</li>
						<li>
							<a href="#">
								Media
							</a>
						</li>
						<li>
							<a href="#">
								News
							</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-6 col-xs-6 hidden-lg hidden-md">
					<ul class="links">
						<li>
							<a href="#">
								About Ssang Yong
							</a>
						</li>
						<li>
							<a href="#">
								About Arabiat
							</a>
						</li>
						<li>
							<a href="#">
								Contact Us
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__mid">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="net">
						<div class="net__name">
							Follow us:
						</div>
						<div class="net__panel">
							<a href="#" class="net__item is-fb">
								<i class="icon-fb"></i>
							</a>
							<a href="#" class="net__item is-tw">
								<i class="icon-tw"></i>
							</a>
							<a href="#" class="net__item is-yt">
								<i class="icon-yt"></i>
							</a>
							<a href="#" class="net__item is-gp">
								<i class="icon-gp"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="madein">
						<span>
							Made in Korea
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-md-3 col-sm-3 col-xs-6">
					<div class="copyright">
						<span>© 2015</span>
						<a href="http://SsangYongEgypt.com">SsangYongEgypt.com</a>
					</div>
				</div>
				<div class="col-lg-8 col-md-7 col-sm-7 hidden-xs">
					<ul class="links links_horizontal">
						<li>
							<a href="#">
								Terms & Conditions 
							</a>
						</li>
						<li>
							<a class="js-popup-trigger" href="#" data-popup="js-popup-privacy">
								Privacy Policy
							</a>
						</li>
						<li>
							<a href="#">
								Social Media
							</a>
						</li>
						<li>
							<a href="#">
								Sitemap
							</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
					<div class="lang">
						<a href="#" class="is-active">
							English
						</a>
						<a href="#">
							عربي
						</a>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="footer__sm">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 hidden-lg hidden-md">
					<ul class="links links_horizontal">
						<li>
							<a href="#">
								Terms & Conditions 
							</a>
						</li>
						<li>
							<a class="js-popup-trigger" href="#" data-popup="js-popup-privacy">
								Privacy Policy
							</a>
						</li>
						<li>
							<a href="#">
								Social Media
							</a>
						</li>
						<li>
							<a href="#">
								Sitemap
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="js/app.js"></script>