<header class="header">
	<div class="header__top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="header__in">
						<button type="button" class="gamburger js-toggle-class" data-parent="body" data-class="is-open-menu">
							<span></span>
						</button>
						<a href="#" class="logo">
							<img src="img/logo.svg" alt="SsangYong" width="162">
						</a>	
						<div class="menu-wrap">			
							<ul class="menu">
								<li class="menu__item is-active">
									<a class="menu__link" href="#" data-drop="js-menu-1">Vehicles</a>
									<div class="menu__drop js-menu-1">
										<div class="prod">
											<div class="prod__img">
												<div class="prod__img-front">
													<img src="img/menu/car1-front.png" alt="img">
												</div>
												<div class="prod__img-back">
													<img src="img/menu/car1-back.png" alt="img">
												</div>
											</div>
											<div class="prod__title">tivoli</div>
											<div class="prod__info">
												Base MSRP from $12,990*
											</div>
											<a href="#" class="prod__btn">
												explore
												<span> 
													→
												</span>
											</a>
										</div>
										<div class="prod">
											<div class="prod__img">
												<div class="prod__img-front">
													<img src="img/menu/car1-front.png" alt="img">
												</div>
												<div class="prod__img-back">
													<img src="img/menu/car1-back.png" alt="img">
												</div>
											</div>
											<div class="prod__title">korando</div>
											<div class="prod__info">
												Base MSRP from $15,990*
											</div>
											<a href="#" class="prod__btn">
												explore
												<span> 
													→
												</span>
											</a>
										</div>
										<div class="prod">
											<div class="prod__img">
												<div class="prod__img-front">
													<img src="img/menu/car1-front.png" alt="img">
												</div>
												<div class="prod__img-back">
													<img src="img/menu/car1-back.png" alt="img">
												</div>
											</div>
											<div class="prod__title">rexton w</div>
											<div class="prod__info">
												Base MSRP from $20,990*
											</div>
											<a href="#" class="prod__btn">
												explore
												<span> 
													→
												</span>
											</a>
										</div>
										<div class="prod">
											<div class="prod__img">
												<div class="prod__img-front">
													<img src="img/menu/car1-front.png" alt="img">
												</div>
												<div class="prod__img-back">
													<img src="img/menu/car1-back.png" alt="img">
												</div>
											</div>
											<div class="prod__title">rodius</div>
											<div class="prod__info">
												Base MSRP from $17,990*
											</div>
											<a href="#" class="prod__btn">
												explore
												<span> 
													→
												</span>
											</a>
										</div>
										<div class="prod">
											<div class="prod__img">
												<div class="prod__img-front">
													<img src="img/menu/car1-front.png" alt="img">
												</div>
												<div class="prod__img-back">
													<img src="img/menu/car1-back.png" alt="img">
												</div>
											</div>
											<div class="prod__title">actyon</div>
											<div class="prod__info">
												Base MSRP from $22,990*
											</div>
											<a href="#" class="prod__btn">
												explore
												<span> 
													→
												</span>
											</a>
										</div>
									</div>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="#" data-drop="js-menu-2">Why Ssang Yong</a>
									<div class="menu__drop js-menu-2">
										<ul class="submenu">
											<li class="submenu__item">
												<a href="#" class="submenu__link">
													Overview 
												</a>
											</li>
											<li class="submenu__item">
												<a href="#" class="submenu__link">
													Quality         
												</a>
											</li>
											<li class="submenu__item">
												<a href="#" class="submenu__link">
													Technology
												</a>
											</li>
											<li class="submenu__item">
												<a href="#" class="submenu__link">
													Performance  
												</a>
											</li>
											<li class="submenu__item">
												<a href="#" class="submenu__link">
													Design
												</a>
											</li>
											<li class="submenu__item">
												<a href="#" class="submenu__link">
													Safety   
												</a>
											</li>
											<li class="submenu__item">
												<a href="#" class="submenu__link">
													Environment   
												</a>
											</li>
											<li class="submenu__item">
												<a href="#" class="submenu__link">
													Built in Korea 
												</a>
											</li>
										</ul>
									</div>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="#">Owners</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="#">Dealers</a>
								</li>
								<li class="menu__item">
									<a class="menu__link" href="#">Test Drive</a>
								</li>
							</ul>
						</div>	
						<button class="btn-search js-toggle-search" data-toggle="js-search" type="button">
							<i class="icon-search"></i>
						</button>
						<div class="search js-search">
							<form action="#">
								<input type="text" placeholder="Search...">
								<button type="submit" class="btn-search">
									<i class="icon-search"></i>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>