<div class="menu-mob">
	<ul class="menu-mob__list">
		<li class="menu-mob__item">
			<a class="menu-mob__link" href="#">Vehicles</a>
			<div class="menu-mob__extend">
				<div class="prod">
					<div class="prod__img">
						<div class="prod__img-front">
							<img src="img/menu/car1-front.png" alt="img">
						</div>
						<div class="prod__img-back">
							<img src="img/menu/car1-back.png" alt="img">
						</div>
					</div>
					<div class="prod__title">tivoli</div>
					<div class="prod__info">
						Base MSRP from $12,990*
					</div>
				</div>
				<div class="prod">
					<div class="prod__img">
						<div class="prod__img-front">
							<img src="img/menu/car1-front.png" alt="img">
						</div>
						<div class="prod__img-back">
							<img src="img/menu/car1-back.png" alt="img">
						</div>
					</div>
					<div class="prod__title">korando</div>
					<div class="prod__info">
						Base MSRP from $12,990*
					</div>
				</div>
				<div class="prod">
					<div class="prod__img">
						<div class="prod__img-front">
							<img src="img/menu/car1-front.png" alt="img">
						</div>
						<div class="prod__img-back">
							<img src="img/menu/car1-back.png" alt="img">
						</div>
					</div>
					<div class="prod__title">rexton w</div>
					<div class="prod__info">
						Base MSRP from $12,990*
					</div>
				</div>
				<div class="prod">
					<div class="prod__img">
						<div class="prod__img-front">
							<img src="img/menu/car1-front.png" alt="img">
						</div>
						<div class="prod__img-back">
							<img src="img/menu/car1-back.png" alt="img">
						</div>
					</div>
					<div class="prod__title">rodius</div>
					<div class="prod__info">
						Base MSRP from $12,990*
					</div>
				</div>
				<div class="prod">
					<div class="prod__img">
						<div class="prod__img-front">
							<img src="img/menu/car1-front.png" alt="img">
						</div>
						<div class="prod__img-back">
							<img src="img/menu/car1-back.png" alt="img">
						</div>
					</div>
					<div class="prod__title">rexton w</div>
					<div class="prod__info">
						Base MSRP from $12,990*
					</div>
				</div>
			</div>
		</li>
		<li class="menu-mob__item">
			<a class="menu-mob__link" href="#">Why Ssang Yong</a>
		</li>
		<li class="menu-mob__item">
			<a class="menu-mob__link" href="#">Owners</a>
		</li>
		<li class="menu-mob__item">
			<a class="menu-mob__link" href="#">Dealers</a>
		</li>
		<li class="menu-mob__item">
			<a class="menu-mob__link" href="#">Test Drive </a>
		</li>
	</ul>
</div>